/**
 * Banners
 */
 
.banners {
    margin: 0 auto;
    text-align: center;
    width: 1030px;
    
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.banner-js{
    margin: 0;
    padding: 0;
}

.banner-home{
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.banner-extra1{
    margin: 10px 0;
    padding-left: 15px;
    text-align: center;
}

.banner-footer{
    padding-left: 15px;
    text-align: center;
}