/**
 * Footer
 */

.footer{
    background: #ebebeb url('../img/footer.jpg') no-repeat center top;
    margin-top: 35px;
    
    .container{
        padding-top: 35px;
        position: relative;
        width: 1040px;
    }
    
    .row{
        margin-bottom: 20px;
        
        p{
            color: #434343;
            font: 600 11px/15px $lato;
            margin-bottom: 10px;
        }
    }
    
    .backtop{
        background-color: #7d7d7d;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-family: 'Glyphicons Halflings';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        height: 42px;
        line-height: 42px;
        position: absolute;
        right: -100px;
        text-align: center;
        top: -20px;
        width: 42px;
    
        -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
         
         &:before{
             content: '\e113';
         }
    }
    
    h3{
        color: #434343;
        font: 700 13px/14px $lato;
        margin-bottom: 9px;
    }
    
    a{
        color: #626262;
        font: 400 12px/12px $lato;
    }
    
    .institutional{
        li{
            margin-bottom: 5px;
        }
    }
    
    .help{
        li{
            margin-bottom: 5px;
        }
    }
    
    .sales{
        li{
            margin-bottom: 5px;
            color: #626262;
            font: 400 12px/12px $lato;
        }
    }
    
    .ebit{
        margin-top: -20px;
    }
    
    .social{
        margin-top: 20px;
    }
    
    .contact-us{
        background: url('../img/phone.jpg?1') no-repeat 15px 3px;
        padding-left: 45px;
        
        h3{
            color: #2e2d2d;
            font: 700 16px/21px $lato;
            letter-spacing: -0.2px;
            margin: 0;
            text-transform: uppercase;
        }
        
        h4{
            color: #2e2d2d;
            font: 700 21px/21px $lato;
            letter-spacing: -0.2px;
            text-transform: uppercase;
        }
        
        a{
            color: #2e2d2d;
            font: 700 15px/21px $lato;
            letter-spacing: -0.2px;
            text-transform: lowercase;
        }
    }
    
    @media screen and (max-width: 768px){
        
        .backtop{
            left: calc( 50% - 21px);
        }
        
        .container{
            width: auto;
        }
        
        h3{
            text-align: center;
        }
        
        .help li, 
        .institutional li {
            display: block;
            margin: 12px 0;
            text-align: center;
        }
        
        .contact-us{
            background: url('../img/phone.jpg?1') 55px 1px no-repeat;
            text-align: center;   
        }
            
            .contact-us h3 {
                display: block;
                margin: 15px 0 0 0;
            }
            
            .contact-us a {
                display: block;
                margin: 10px 0;
            }
            
        .sales {
            text-align: center;
        }
            
            .sales li {
                margin-bottom: 10px;
            }
        
        .logo-dc-footer{
            display: none;
        }
        
        .social {
            margin: 10px 0;
        }
        
        .payment {
            font-size: 0;
            width: 100%;
            text-align: center;
        }
        
        .row {
            margin-bottom: 0;
        }
        
        .row p {
            margin: 10px 0;
            text-align: center;
            display: block;
        }
        
        .logo-bandup{
            display: block;
            margin: 0 auto;
        }
        
        .ebit {
            margin: 10px 0;
        }
        
    }
}

.store-message{
    background: #ededed;
    color: #434343;
    font: 600 11px/19px $lato;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 768px){
    
    .store-message{
        padding: 10px 0;
    }
    
    .banner-footer{
        display: none;
    }
    
}