/**
 * Main Menu
 */
 .show-categories{
    display: none;
}

@media screen and (max-width: 768px){
    
     .show-categories{
        background: #1b77b8;
        color: #fff;
        display: block;
        font: 900 12px/12px $lato;
        margin: 0 0 15px 0;
        padding: 15px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        
        &:before{
            content: "";
            position: absolute;
            top: calc( 50% - 2.5px);
            right: 15px;
            
            border-top: 5px solid #fff;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }
    }
}
 
.main-menu{
    position: relative;
    z-index: 10;
    
    .container{
        width: 1040px;
    }
    
    .item-level1{
        float: left;
        margin-left: 47px;
        position: relative;
        
        &:first-child,
        &:nth-child(2){
            margin-left: 0;
        }
        
        &:hover .level2{
            opacity: 1;
            visibility: visible;
        }
        
        &:last-child .level2 {
            right: 0;
        }
        
        &:nth-child(6) .level2 {
            right: 0;
        }
        
        &:nth-child(5) .level2 {
            left: calc( 50% - 320px);
        }
    }
    
    h3{
        color: #1b77b8;
        font: 900 12px/12px $lato;
        text-transform: uppercase;
        
        a{
            display: block;
            padding: 30px 0;
            font-weight: 900;
            
            @media screen and (min-width: 769px) {
                &:before{
                    border-top: 4px solid #1b77b8;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    content: '';
                    float: right;
                    margin-top: 4px;
                    margin-left: 4px;
                }
            }
        }
    }
    
    .link-novidades{
        float: right;
        padding: 30px 0;
        
        h3:before{
            border-top: 4px solid #1b77b8;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            content: '';
            float: right;
            margin-top: 4px;
            margin-left: 4px;
        }
        
        ul{
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 80%;
            visibility: hidden;
            width: 600px;
            
            @extend .transition-fast;
        }
        
        &:hover ul{
            opacity: 1;
            visibility: visible;
        }
    }
    
    .level2{
        background-color: #fff;
        border-bottom: 1px solid #939596;
        border-left: 1px solid #939596;
        border-right: 1px solid #939596;
        border-top: 6px solid #259ed6;
        opacity: 0;
        padding-bottom: 26px;
        padding-top: 16px;
        position: absolute;
        top: 80%;
        visibility: hidden;
        width: 640px;
        
        @extend .transition-fast;
        
        img{
            float: right;
            margin-top: -16px;
            margin-bottom: -26px;
        }
        
        div{
            overflow: hidden;
        }
    }
    
    .item-level2{
        border-left: 1px solid #939596;
        float: left;
        margin-left: -1px;
        padding-left: 25px;
        width: 50%;
    }
    
    .link-level2{
        color: #259ed6;
        font: 700 12px/12px $lato;
        margin-bottom: 6px;
    }
    
    .item-level3{
        margin-top: 10px;
    }
    
    .link-level3{
        color: #4c4c4c;
        font: 700 11px/11px $lato;
    }
    
    @media screen and (max-width: 768px){
        
        display: none;
    
        li.item-level1.link-novidades{
            display: none;
        }
        
        .container{
            width: auto;
        }
        
        .item-level1 {
            display: block;
            margin: 0;
            width: 100%;
        }
        
        .item-level1:hover .level2{
            display: none;
        }
    }
}