/**
 * Page login
 */
 
.page-login{
    
    #banner_title{
        display: none;   
    }
    
    .carrinho-tabs{
        margin-bottom: 50px;
    }
    
    .carrinho-heading,
    .banner-extra1{
        display: none;
    }
    
    .caixa-login{
        border-right: 1px solid #dbdbdb;
        padding-left: 60px;
        
        > h3{
            color: #606060;
            font: 900 16px/16px $lato;
            text-transform: uppercase;
        }
        
        fieldset{
            border: none;
            margin: 0;
            padding: 0;
        }
        
        button{
            background: none;
            border: none;
            float: left;
            margin: 30px 0 -100px;
            padding: 0;
        }
        
        input{
            border-left: 2px solid red;
            height: 27px;
            margin-top: 8px;
            max-width: 310px;
        }
        
        label{
            color: #5b5b5b;
            font: 700 12px/12px $lato;
        }
    }
    
    .recuperar-senha{
        display: block;
        margin-bottom: 50px;
        
        a{
            color: #717171;
            font: 700 12px/12px $lato;
        }
        
        &:hover{
            text-decoration: underline;
        }
    }
    
    .login-campos-obrigatorios{
        display: block;
        font: 400 12px/12px $lato;
        
        .obriga{
            color: red;
            font-weight: 700;
            
            &:before{
                content: '(';
            }
        }
    }
    
    .caixa-cadastro{
        padding-left: 60px;
        
        .cadastro-desc{
            display: none;
        }
        
        > h3{
            color: #606060;
            font: 900 16px/16px $lato;
            text-transform: uppercase;
        }
        
        fieldset{
            border: none;
            margin: 0;
            padding: 0;
        }
        
        button{
            background: none;
            border: none;
            float: left;
            margin: 18px 0 0 0;
            padding: 0;
        }
        
        input{
            border-left: 2px solid red;
            height: 27px;
            margin-top: 8px;
            margin-bottom: 0;
            max-width: 310px;
        }
        
        label{
            color: #5b5b5b;
            font: 700 12px/12px $lato;
        }
    }
}