/**
 * Page product
 */
 
.page-product{
    
    #banner_title,
    #add,
    #preco > br,
    .selo-ambiente-seguro,
    .produto-calcular-frete,
    .produto-links,
    .produto-zoom-detalhe,
    .produto-imagem-abas,
    .produto-rotulos,
    .produto-dados, 
    .produto-economize,
    #loading-product-container,
    .tray-hide,
    #span_erro_carrinho,
    .Seguro,
    #loading-tab-container{
        display: none;
    }
    
    .produto-wrapper{
        padding: 0;
        position: relative;
        z-index: 1;
        
        #loading-product-container{
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 900;
        }
    }
    
    .produto-direita{
        margin-top: 120px;
    }
    
    // cupom
    .bonus_cupom {
        background-color: #ffffb3;
        border: 2px solid #eee;
        display: block;
        margin-bottom: 12px;
        padding: 6px;
        width: 200px;
        
        strong{
            display: block;
            font-size: 16px;
            margin-top: 5px;
        }
    }
    
    // breadcrumb
    .breadcrumb{
        background: none;
        border-bottom: 1px dotted #9a9a9a;
        border-top: 1px dotted #9a9a9a;
        border-radius: 0;
        font: 400 11px/11px $lato;
        margin: 0;
        padding: 10px 0;
        
        a{
            color: #515151;
        }
        
        &:before{
            content: ">";
        }
    }
    
    // product name
    .fn{
        color: #363636;
        font: 700 18px/25px $lato;
        height: 50px;
        margin-top: 30px;
        overflow: hidden;
        position: absolute;
        right: 0;
        width: 322px;
    }
    
    // product code
    .identifier{
        border-bottom: 1px solid #dadada;
        color: #433f3f;
        font: 400 12px/12px $lato;
        padding-bottom: 4px;
        position: absolute;
        right: 0;
        top: 120px;
        width: 322px;
        
        strong{
            font-weight: 400;
        }
    }
    
    // buy button
    #button-buy{
        padding: 0;
        border: none;
    }
    
    // product price & payment
    .produto-preco{
        
        .txt-por,
        br{
            display: none;
        }
        
        .PrecoPrincipal{
            color: #065ab1;
            display: block;
            font: 700 26px/26px $lato;
            margin-bottom: 10px;
            
            abbr{
                border: none;
            }
        }
        
        #info_preco{
            color: #065ab1;
            display: block;
            font: 700 16px/16px $lato;
            margin-bottom: 25px;
        }
        
        ul{
            margin-top: 15px;
            padding: 0 11px;
            
            &:after{
                clear: both;
                content: '';
                display: block;
            }
        }
        
        li{
            border: 1px solid #959595;
            float: left; 
            margin-right: 5px;
            text-align: center;
            min-width: 32px; 
            
            div{
                color: #2e2d2d;
                font: 400 12px/24px $lato;
                 
                &.cor_selecionada{
                    color: #fff;
                    background-color: #1b77b8;
                }
            }
        }
    }
    
    #preco{
        margin-bottom: 10px;
    }
    
    .precode{
        text-decoration: line-through;
        
        abbr{
            border: none;
        }
    }
    
    .produto-formas-pagamento a{
        color: #433f3f;
        font: 400 11px/11px $lato;
    }
    
    #quantidade{
        border-top: 1px solid #dadada;
        color: #433f3f;
        font: 400 12px/27px $lato;
        text-align: left;
        max-width: 100%;
        padding-top: 16px;
        
        .text{
            background-color: #e2e2e2;
            border: none;
            border-radius: 0;
            display: inline-block;
            height: 27px;
            margin: 0;
            width: 38px;
        }
    }
    
    // social
    .redes_sociais{
        text-align: center;
    }
    
    // variation
    
    .texto_variacao,
    .varTit {
        background-color: #ebebeb;
        border-radius: 7px;
        padding: 20px 10px 5px; 
        position: relative;
    }
    
    .texto_variacao span {
        color: #000
    }
    
    .varTit,
    .varTit:hover {
        background: url(../img/fundo-variacao.png?v=2) 10px bottom no-repeat #ebebeb;
        border-radius: 7px;
        color: #433f3f;
        font: 700 13px/13px $lato;
        padding-left: 18px;
        text-transform: none;
    }
    
    .info-digite-o-nome-para-a-estampa strong {
        padding: 0 7px 0 0;
        text-transform: none;
        height: 26px
    }
    
    .varTit.info-digite-o-nome-para-a-estampa {
        padding-bottom: 0
    }
    
    .info-insira-seu-nome-aqui, .info-insira-seu-nome-aqui:hover {
        background-image: none;
        padding: 7px 10px 0
    }

    .varTit strong,
    .varTit strong:hover {
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: inline-block;
        float: left;
        vertical-align: bottom;
        padding: 0 6px 5px;
        color: #433f3f!important;
        line-height: 2
    }
    
    .texto_variacao h2 {
        background-color: #fff;
        border-radius: 7px 7px 0 0;
        color: #433f3f;
        font: 700 12px/28px $lato;
        padding: 0 7px;
        width: auto
    }
    
    .varCont ul {
        display: block;
        font-size: 0
    }
    
    .varCont .lista_radios ul {
        margin-top: 8px
    }
    
    .varCont .lista_radios>li {
        background: 0 0;
        color: #433f3f;
        font: 700 11px/11px $lato;
        margin: 6px 10px;
        padding: 0
    }
    
    .varCont .lista_radios li ul li {
        border: 1px solid #b1b1b1;
        display: inline-block;
        font: 700 11px/11px $lato;
        height: 22px;
        margin: 0 6px 0 0;
        padding: 0;
        text-align: center;
        width: 27px
    }
    
    .varCont .lista_radios .on {
        background-color: #525252
    }
    
    .page-content .lista_radios label {
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 100%;
        padding: 4px 0;
        position: relative
    }
    
    .page-content .varCont .lista_radios>.color>label>input {
        visibility: visible;
        position: static;
        width: auto;
        height: auto;
        line-height: 11px;
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle
    }
    
    .page-content .varCont .lista_radios>.color>label>span {
        display: inline-block;
        vertical-align: middle
    }
    
    .selecionada label {
        background: #1261b2;
        color: #fff
    }
    
    .selecionada span {
        color: #fff!important
    }
    
    .page-content .lista_radios span {
        color: #2d2d2d;
        font: 400 11px/11px $lato;
    }
    
    .page-content .lista_radios .on span {
        color: #fff
    }
    
    .page-content .lista_radios input[type=radio] {
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 100%
    }

    // #menuVars{
    //     margin: 0;
        
    //     ul{
    //         padding: 0;
    //     }
        
    //     li{
    //         border: none;
    //         display: block;
    //         text-align: left;
    //         width: 100%;
    //     }
        
    //     .lista_cor_variacao{
    //         margin-top: 15px;
    //         padding: 0 11px;
            
    //         li{
    //             border: 1px solid #959595;
    //             float: left;
    //             margin-right: 5px;
    //             text-align: center;
    //             width: 42px;
                
    //             div{
    //                 color: #2e2d2d;
    //                 font: 400 12px/24px $lato;
    //             }
                
    //             .cor_selecionada{
    //                 background-color: #065ab1;
    //                 color: #fff;
    //             }
    //         }
    //     }
    // }
    
    .lista_cor_variacao{
        margin-top: 15px;
        padding: 0 11px;
        
        li{
            border: 1px solid #959595;
            float: left;
            margin-right: 5px;
            text-align: center;
            width: 32px;
            
            div{
                color: #2e2d2d;
                font: 400 12px/24px $lato;
            }
            
            .cor_selecionada{
                background-color: #065ab1;
                color: #fff;
            }
        }
    }
    
    .varTit input{
        display: none;
    }
    
    .varTit.info-digite-o-nome-para-a-estampa {
        padding-bottom: 0;
    }
    
    .texto_variacao{
        background-color: #f4f4f4;
        border-radius: 6px;
        height: 36px;
        padding: 0 11px;
        
        span{
            display: none;
        }
        
        &:after{
            clear: both;
            content: '';
            display: block;
        }
        
        h2{
            background-color: #fff;
            border-radius: 6px 6px 0 0;
            color: #433f3f;
            float: left;
            font: 700 12px/30px $lato;
            margin-top: 6px;
            padding: 0 20px;
        }
    }
    
    .table-meansure {
        background: url('../img/table-meansure.png') left center no-repeat;
        color: #433f3f;
        font: 400 12px/14px $lato;
        padding: 0 0 0 19px;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: calc(50% - 7px);
        width: 130px;
        z-index: 3;
    }
    
    // product photo & thumbs
    #foto_p{
        height: 625px;
        margin-top: 35px;
        
        .mousetrap{
        }
    }
    
    #foto_a{
        margin: 20px auto;
        width: 415px;
        
        .jcarousel-clip,
        ul{
            overflow: hidden;
            width: 326px;
        }
        
        .jcarousel-item,
        li{
            border: 1px solid #c9c9c9;
            float: left;
            height: 90px;
            margin-right: 26px;
            overflow: hidden;
            position: relative;
            width: 62px;

            img{
                left: 50%;
                position: absolute;
                top: 50%;
                
                -webkit-transform: translate(-50%,-50%);
                   -moz-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                     -o-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
            }
        }
        
        li:last-child{
            margin-right: 0;
        }
        
        .jcarousel-next{
            color: #b2b2b2;
            font-family: 'Glyphicons Halflings';
            font-size: 2em;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            position: absolute;
            right: 0;
            top: 50%;
            
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
            
            -moz-osx-font-smoothing: grayscale;
             -webkit-font-smoothing: antialiased;
            
            &:before{
                content: "\e080";
            }
        }
        
        .jcarousel-prev{
            color: #b2b2b2;
            font-family: 'Glyphicons Halflings';
            font-size: 2em;
            font-style: normal;
            font-weight: 400;
            left: 0;
            line-height: 1;
            position: absolute;
            top: 50%;
            
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
            
            -moz-osx-font-smoothing: grayscale;
             -webkit-font-smoothing: antialiased;
            
            &:before{
                content: "\e079";
            }
        }
        
        .icon-video{
            color: #000;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 90px;
            position: relative;
            top: 1px;
            
            -moz-osx-font-smoothing: grayscale;
             -webkit-font-smoothing: antialiased;
             
             &:before{
                 content: "\e029";
             }
        }
        
    }
    
    // payment forms
    .Forma1 li{
        padding: 15px;
        
        a{
            color: #000;
        }
        
        .item-parcela {
            display: block;
        }
        
        &:nth-child(odd){
            background-color: #f4f4f4;
        }
    }
    
    //Indisponivel
    #nao_disp{
        
        a{
            display: block;
            text-align: center; 
        }
        
        .image{
            margin: 0 auto;
        }
        
        .color {
            display: block;
            margin: 5px 0;
            text-align: center;
        }
    }
    
    
    // comments
    #coments{
        
        label{
            display: block;
        }
        
        input[type="text"]{
            display: block;
        }
        
        input[type="checkbox"]{
            display: inline-block;
            margin-right: 4px;
        }
        
        .stars {
            font-size: 0px;
        }
        
        .starn {
            background: url('/imggeral/loja/img01/stars-old.png');
            display: inline-block;
            width: 37px;
            height: 35px;
            text-align: left;
            cursor: pointer;
        }
        
        .star-on { 
            background-position: 0 -38px !important;
        }
        
        .rateBlock + img{
            background: url('../img/comment-button.jpg');
            cursor: pointer;
            height: 0;
            margin-top: 20px;
            padding: 23px 91px;
            width: 0;
        }
    }
    
    
    // product tabs (description/warranty/comments)
    .wrap-tabs{
        min-height: 200px;
        position: relative;
        
        #loading-tab-container{
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        .abasProduto{
            margin-bottom: -1px;
            
            &:after{
                clear: both;
                content: '';
                display: block;
            }
            
            li{
                background-color: #f3f3f3;
                border: 1px solid transparent;
                border-bottom: 1px solid #c1c1c1;
                border-radius: 6px 6px 0 0;
                float: left;
                margin-right: 8px;
                padding: 0 35px;
                
                &.aberta{
                    background-color: #fff;
                    border-color: #c1c1c1;
                    border-bottom: 1px solid #fff;

                    a{
                        color: #207aba;
                    }
                }
                
                a{
                    color: #6e6e6e;
                    font: 900 14px/40px $lato;
                    letter-spacing: -0.2px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
        
        .prodBox{
            border: 1px solid #c1c1c1;
            padding: 0 10px 10px;
        }
    }
    
    @media screen and (max-width: 768px){
        
        .wrap-related .relacionado:first-child{
            padding-left: 15px;
        }
        
        .main-menu{
            display: none;
        }
        
        .page-content{
            padding: 0;
            margin: 15px 0 0 0;
        }
        
        .page-content .container{
            padding: 0;    
        }
        
        .fn{
            height: auto;
            margin-top: 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            display: block;
        }
        
        .identifier{
            border: none;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            width: 100%;
        }
        
        .table-meansure{
            display: none !important;
        }
        
        #foto_p{
            height: auto;
        }
        
        #foto_a{
            width: auto !important;
        }
            
            #foto_a .jcarousel-clip{
                width: 320px !important;
            }
            
            #foto_a .jcarousel-list{
                width: auto !important;
            }
            
            #foto_a .jcarousel-prev,
            #foto_a .jcarousel-next{
                display: none !important;    
            }
            
            #foto_a .jcarousel-item{
                float: none !important;
                display: inline-block;
                margin: 0;
            }
        
        #foto_a .jcarousel-clip, 
        #foto_a ul{
            width: auto;
        }
        
        #foto_a .jcarousel-item, 
        #foto_a li{
            margin: 0 10px 0 0;
        }
        
        .produto-direita{
            margin: 0;
            padding: 0;
        }
        
        #esquerda{
            padding: 0;
        }
        
        .wrap-tabs .abasProduto li{
            float: none;
        }
        
        
    }
    
    .compreJunto .produto > div .table-meansure {
        display: none;
    } 
}