/**
 * Search
 */
 
.search{
    
    .search-key{
        border-bottom: 1px solid #b8b8b8;
        border-left: 1px solid #b8b8b8;
        border-top: 1px solid #b8b8b8;
        border-radius: 0;
        height: 34px;
        
    }
    
    ::-webkit-input-placeholder {
       color: #433f3f;
       font: 400 11px/1.8 $lato;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       color: #433f3f;
       font: 400 11px/1.8 $lato;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #433f3f;
       font: 400 11px/1.8 $lato;
    }
    
    :-ms-input-placeholder {  
       color: #433f3f;
       font: 400 11px/1.8 $lato;
    }
    
    .search-button{
        background: #057ca5;
        border-bottom: 1px solid #b8b8b8;
        border-top: 1px solid #b8b8b8;
        border-right: 1px solid #b8b8b8;
        border-radius: 0;
        color: #fff;
        font-size: 18px;
        height: 34px;
        line-height: 32px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 32px;
    }
}