/**
 * Showcase
 */

.showcase-title{
    color: #423e3f;
    font: 900 18px/18px $lato;
    letter-spacing: 1.75px;
    margin: 35px 0;
    text-align: center;
    text-transform: uppercase;
    
    &:after{
        background: #423e3f;
        content: '';
        display: block;
        height: 5px;
        margin: 7px auto 0;
        width: 30px;
    }
    
    &.yellow:after{
        background: #fff02a;
    }
    
    &.blue:after{
        background: #28c1cf;
    }
    
    &.red:after{
        background: #cf1524;
    }
}

.showcase-banners{
    margin: 35px 0;
}

@media screen and (max-width: 768px){
    
    .brands{
        display: none;
    }
    
    .showcase-title{
        display: block;
    }
    
    .product-list.moda,
    .product-list.casa-decor,
    h2.showcase-title.blue,
    h2.showcase-title.red,
    .product-list .jcarousel-prev,
    .product-list .jcarousel-next{
        display: none !important;
    }
    
    ul.jcarousel-list.jcarousel-list-horizontal{
        width: auto !important;
    }
    
    .product-list{
        display: block;
    }
    
    .product-list.new{
        
        .product{
            display: block;
            float: none !important;
            margin: 25px auto;
        }
        
    }
    
    .product-list .jcarousel-clip {
        width: auto;
    }
    
    .wrap-newsletter{
        display: none;
    }

}