{% for level1 in categories %} 
    {% if loop.index <= limit or not limit %}
        {% if level1.name == "MARCAS" %}

            
            <div id="mrc_Marcas" class="areaBusca areaPesquisa hidden-xs" onmouseover="openMenuMarcas()" onmouseout="fecharMenuMarcas()">
                <div class="mrc_Container areaDoMenu" >

                    {% for level2 in level1.children %}
                        <div class="mrc_Area noSpacing" style="width:149px;float:left;">
                            <div class="mrc_AreaImage" >
                                <a href="{{ level2.link }}">
                                    {% if level2.images %}
                                        <img src="{{ level2.images[0] }}" alt="{{ level2.name }}">           
                                    {% else %}
                                        {{ level2.name }}
                                    {% endif %}  
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="areaBusca areaPesquisa visible-xs">
                <div class="mrc_Container areaDoMenu">
                    {% for level2 in level1.children %}

                        <div class="mrc_Area noSpacing col-sm-4 col-xs-6">
                            <div class="mrc_AreaImage" >
                                <a href="{{ level2.link }}">
                                    {% if level2.images %}
                                        <img src="{{ level2.images[0] }}" alt="{{ level2.name }}">           
                                    {% else %}
                                        {{ level2.name }}
                                    {% endif %}  
                                </a>
                            </div>
                        </div>                   

                    {% endfor %}
                </div>
            </div>



        {% endif %} 
    {% endif %} 
{% endfor %}
    




