<div class="visible-xs">
    <div class="menuMobileArea">
        <div class="">
            <div class="mnuMob_AreaItem borderBottom underline  col-xs-6">
                <h5>Marcas</h5> 
            </div>
            <div class="mnuMob_AreaItem borderBottom alignCenter borderRight col-xs-3" onclick="openMarcasMobile()">
                <img id="imgSearch" src="{{ asset('img/assets/btnSearch.png') }}'" alt=""/>  
            </div>
            <div class="mnuMob_AreaItem borderBottom alignCenter col-xs-3">
                <a onclick="closeMenuMobile()">
                    <h4 class="mnuMob_btnClose">X</h4>
                </a>
            </div>               
        </div>
        <div>
            {% set categorias = [41,43,14,45,47,49,51] %} 
            {% for level1 in categories %} 
                {% if level1.id in categorias %}
                <div class="mnuMob_AreaItem borderBottom col-xs-6">
                    <h5>{{ level1.name }}</h5> 
                </div>
                <div class="mnuMob_AreaItem borderBottom borderRight alignCenter col-xs-3">
                    <img id="imgMoreCategory" src="{{ asset('img/assets/btnMoreCategory.png') }}'" alt=""/> 
                </div>
                <div class="mnuMob_AreaItem col-xs-3">
                </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>