<div class="product-price-catalog" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    {% if product.available %}
        
        {% if product.stock > 0 %} 
        
            {% if product.upon_request %}
                <p>Produto Sob Consulta</p>
            {% else %}
                                
                {% if product.price_offer > 0 and product.show_price %}
                    <div class="price-before-catalog">
                        <div itemprop="priceCurrency" content="BRL"><abbr class="currency" title="BRL"><h5>de: {{ settings.currency }}</abbr> {{ product.price|currency }}</h5></div>
                    </div>
                    <div class="price-promotion-catalog">
                        <span itemprop="offers" class="price-off" itemscope itemtype="http://schema.org/Offer">por R$ {{ product.price_offer|currency  }}</span>
                    </div>
                {% else %}
                <span class="spanColor" itemprop="priceCurrency-catalog" content="BRL">A partir de R$ {{ product.price|currency }}</span>
                {% endif %}
            {% endif %}
            
        {% else %} 
            <p>Esgotado!</p>
        {% endif %} 
    {% endif %} 
    
</div>