<div class="noSpacing row visible-xs" style="margin-left: 0px; margin-right: 0px; min-height: 500px; ">

  <a onclick="backProduct()">
    <div class="areaBannerBackButton">
      <img src="{{ asset('img/assets/banners/barraEsquerda.png') }}" />
    </div>
  </a>

  <a onclick="nextProduct()">
    <div class="areaBannerFrontButton">
      <img src="{{ asset('img/assets/banners/barraDireita.png') }}" />
    </div>
  </a>

  <div class="areaBannerCategoryContent">
        <div class="col-xs-2" onclick="trocarCategoriaM('diminuir')">
          <img src="{{ asset('img/assets/banners/barraEsquerda.png') }}" />
        </div>
        <div class="col-xs-8 roteTab" >

          {% set categorias = [14,3,4,8,17] %} 
            {% for level1 in categories %} 
              {% if level1.id in categorias %}
                {% if loop.index == 3 %}
                    <span id="option_{{ loop.index }}_{{ level1.id }}" class="optionDisplay">{{ level1.name }}</span>
                {% else %}
                    <span id="option_{{ loop.index }}_{{ level1.id }}" class="notDisplay">{{ level1.name }}</span>
                {% endif %}    
              {% endif %}    
            {% endfor %}

        </div>
        <div class="col-xs-2" style="text-align: right" onclick="trocarCategoriaM('aumentar')">
          <img src="{{ asset('img/assets/banners/barraDireita.png') }}" />
        </div>
      </div>

  <div class="prd_loading">
    <span>CARREGANDO ...</span>
  </div>
  <div id="home_prdM_0" class="noSpacing col-sm-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
      <span>Comprar Agora</span>
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prdM_1" class="noSpacing col-sm-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
      <span>Comprar Agora</span>
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prdM_2" class="noSpacing col-sm-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
      <span>Comprar Agora</span>
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prdM_3" class="noSpacing col-sm-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
      <span>Comprar Agora</span>
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".prd_loading").fadeOut(200);

  function backProduct() {

    var id = $(".areaBannerActive").attr('id').replace("home_prdM_", "");
    var nextId = Number(id) - 1;

    var nextElement = $("#home_prdM_" + nextId)

    if (typeof nextElement !== "undefined")
    {
        var classElement = nextElement.attr('class');

        if  (typeof classElement !== "undefined")
        {
          if (classElement.indexOf("areaBannerHasProduct") > 0)
          {
              $("#home_prdM_" + id).removeClass("areaBannerActive");
              $("#home_prdM_" + nextId).addClass("areaBannerActive");
          }
        }
    }
  }

  function nextProduct() {
    var id = $(".areaBannerActive").attr('id').replace("home_prdM_", "");
    var nextId = Number(id) + 1;

    var nextElement = $("#home_prdM_" + nextId)

    if (typeof nextElement !== "undefined")
    {
        var classElement = nextElement.attr('class');

        if  (typeof classElement !== "undefined")
        {
          if (classElement.indexOf("areaBannerHasProduct") > 0)
          {
              $("#home_prdM_" + id).removeClass("areaBannerActive");
              $("#home_prdM_" + nextId).addClass("areaBannerActive");
          }
        }        
    }
  }

  function trocarCategoriaM(acao) {

    var option;
    
    if (acao === "aumentar")
    {
      option = jQuery(".optionDisplay").next();
    }
    else
    {
      option = jQuery(".optionDisplay").prev();
    }

    if (typeof option.attr("id") !== "undefined")
    {
      jQuery(".optionDisplay").addClass("notDisplay");
      jQuery(".optionDisplay").removeClass("optionDisplay");
      jQuery(option).addClass("optionDisplay");
      jQuery(option).removeClass("notDisplay");

      var optionId = option.attr("id"); 
      var ordem = optionId.split("_")[1];
      var id = optionId.split("_")[2];

      console.log("carregar");

      carregarMProdutos(id);
    }
    
  }

  var optionId = jQuery(".optionDisplay").attr("id"); 
  var ordem = optionId.split("_")[1];
  var id = optionId.split("_")[2];

  carregarMProdutos(id);

  function carregarMProdutos(categoriaId) {
                    var params = {};

                    $(".prd_loading").fadeIn();

                    params["category_id"] = categoriaId;
                    params["page"] = "1";
                    params["limit"] = "4";
                    params["store_id"] = {{ store.id }};

                    LimparMProdutos();

                    $.ajax({
                      method: "GET",
                      url: "/web_api/products/",
                      data: params
                    }).done(function (response, textStatus, jqXHR) {

                      var products = response.Products;
                      var i = 0;

                      console.log(products);
                      
                    
                      products.forEach(function(prod) {

                          $("#home_prdM_" + i).addClass("areaBannerHasProduct")
                          $("#home_prdM_" + i + " img").attr({ src:  prod.Product.ProductImage[0].thumbs["180"].https })
                          $("#home_prdM_" + i + " h4").text(prod.Product.name)
                          $("#home_prdM_" + i + " h5").text("de: " + prod.Product.price)
                          $("#home_prdM_" + i + " span").text("A partir de: " + prod.Product.price)
                          $("#home_prdM_" + i + " h6").text("Ou 3x sem juros de R$ " + prod.Product.price)

                          i++;
                      });

                      $("#home_prdM_0").addClass("areaBannerActive")
                      $(".prd_loading").fadeOut(400);


                    }).fail(function (jqXHR, status, errorThrown) {
                        $(".prd_loading").fadeOut(400);
                    })
  }

  function LimparMProdutos() {
      for (i = 0; i < 4; i++) { 
        $("#home_prdM_" + i).removeClass("areaBannerHasProduct")
        $("#home_prdM_" + i).removeClass("areaBannerActive")
        $("#home_prdM_" + i + " img").attr({ src:  "" })
        $("#home_prdM_" + i + " h4").text("")
        $("#home_prdM_" + i + " h5").text("")
        $("#home_prdM_" + i + " span").text("")
        $("#home_prdM_" + i + " h6").text("")
    }
  }

</script>