
<div class="catalog_ContentFiltros">
    <div class="col-md-1">
        <div class="catalog_Close">
            <a href="{{ category.link }}">
                <h3>X</h3>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="catalog_Apply">
            <a>
                <h3>APLICAR FILTROS</h3>
            </a>
        </div>
    </div>
    <div class="col-md-8">

        

        {% if filters %}
            <form name="form-filter" method="get" class="smart-filter">
            <input type="hidden" name="loja" value="{{ store.id }}">

            {% if category.id %}
                <input type="hidden" name="categoria" value="{{ category.id }}">
            {% endif %}

                {% set prdSelect = Products() %}

                {% set prdSelect = Products({
                    'categories': category.id 
                }) %}

                <select id="marcasSelected" class="selectFormasPgto" onchange="filtroAlteradoMarca(this)" >
                    <option value="NonSelected">Marca</option>
                    {% for p in prdSelect %} 
                        {% set brandTray = Brands( { "brand": p.brand } ) %}    
                            {% for brand in brandTray %}                     
                                <option value="{{ brand.slug }}">  
                                        {{ brand.name }}
                                </option>                            
                            {% endfor %}                 
                    {% endfor %}        
                </select>  

            {% for myFilter in filters %} 
                
                <!--{% if myFilter.items |length > 1 %}

                    {% if myFilter.title == 'Filtrar por Marca' %}
                        <select class="selectFormasPgto" onchange="filtroAlterado(this)" >
                            <option value="NonSelected">Marca</option>
                            {% for item in myFilter.items %}
                                <option value="{{ item.url }}">
                                    {{ item.title }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}-->
                    {% if 'Faixa de Pre' in  myFilter.title %}
                        <select class="selectFormasPgto" onchange="filtroAlterado(this)">
                            <option value="NonSelected">Faixa de Preço</option>
                            {% for item in myFilter.items %}
                                <option value="{{ item.url }}">
                                    {{ item.title }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}


                {% else %}

                    <!--{% if myFilter.title == 'Filtrar por Marca' %}
                        <select class="selectFormasPgto" >
                            {% if myFilter.items |length == 1 %}
                                {% for item in myFilter.items %}
                                    <option value="{{ item.url }}">
                                        {{ item.title }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                <option value="NonSelected">Marca</option>
                            {% endif %}
                        </select>
                    {% endif %}-->
                    {% if 'Faixa de Pre' in  myFilter.title %}
                        <select class="selectFormasPgto">
                            {% if myFilter.items |length == 1 %}
                                {% for item in myFilter.items %}
                                    <option value="{{ item.url }}">
                                        {{ item.title }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                <option value="NonSelected">Faixa de Preço</option>
                            {% endif %}
                        </select>
                    {% endif %}
                    
                {% endif %}
                
                {% if myFilter|length %}
                    
                    {% for var in myFilter %}  

                        {% if var.items |length > 1 %}

                            {% if var.title == 'Tamanho' %}
                                <select class="selectFormasPgto" onchange="filtroAlterado(this)">
                                    <option value="NonSelected">Tamanho</option>
                                        {% for item in var.items %}
                                            <option value="{{ item.url }}">
                                                {{ item.title }}
                                            </option>
                                        {% endfor %}                                    
                                </select>
                            {% elseif var.title == 'Cor' %}
                                <select class="selectFormasPgto" onchange="filtroAlterado(this)" >  
                                        <option value="NonSelected">Cor</option>
                                        {% for item in var.items %}                                        
                                            <option value="{{ item.url }}">
                                                {{ item.title }}
                                            </option>
                                        {% endfor %}                                    
                                </select>
                            {% endif %}

                        {% else %}

                            {% if var.title == 'Tamanho' %}
                                <select class="selectFormasPgto" >
                                    {% if var.items |length == 1 %}
                                        {% for item in var.items %}
                                            <option value="{{ item.url }}">
                                                {{ item.title }}
                                            </option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="NonSelected">Tamanho</option>
                                    {% endif %}
                                </select>
                            {% elseif var.title == 'Cor' %}
                                <select class="selectFormasPgto" >
                                    {% if var.items |length == 1 %}
                                        {% for item in var.items %}
                                            <option value="{{ item.url }}">
                                                {{ item.title }}
                                            </option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="NonSelected">Cor</option>
                                    {% endif %}
                                </select>
                            {% endif %}


                        {% endif %}





                        
                        
                    {% endfor %}

                {% endif %}


            </form>        
        {% endfor %}
        
    </div>
    
    <div class="col-md-1">
        <div class="catalog_Search">
            {% if search.word %}
                <input name="palavra_busca" type="hidden" value="{{ search.word }}">
                <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            {% endif %}    
        </div>
    </div>
</div>

{% endif %}

<script>
    var url = window.location.href;

    if (url.indexOf("marca") > 0)
    {
        marca = url.substring(url.indexOf("marca"), url.length).replace("marca=marca_", "");

        if (
            marca.indexOf("&") > 0 || marca.indexOf("?") > 0
        )
        {
            var posicao = marca.length;

            if (marca.indexOf("&") > 0)
                posicao = marca.indexOf("&");

            if (marca.indexOf("?") && marca.indexOf("?") < posicao)
                posicao = marca.indexOf("?");

            marca = marca.substring(0, posicao);
        }

        jQuery("#marcasSelected").val(marca);
    }

    function filtroAlterado(valor) {
        
        if (valor.value !== "NonSelected")
        {
            window.location.replace(valor.value);
        }      

    }

    function filtroAlteradoMarca(valor) {

        var url = window.location.href;
        var urlFinal = "";

        if (url.indexOf("marca") < 0)
        {
            urlFinal = url + "&marca=marca_" + valor.value;
            window.location.replace(urlFinal);
        }
        else
        {
            
            if (valor.value == "NonSelected")
            {
                urlFinal = url.replace(url.substring(url.indexOf("marca") -1, url.length), "");
            }
            else
            {
                var marca = url.substring(url.indexOf("marca"), url.length).replace("marca=marca_", "");

                if (
                    marca.indexOf("&") > 0 || marca.indexOf("?") > 0
                )
                {
                    var posicao = marca.length;

                    if (marca.indexOf("&") > 0)
                        posicao = marca.indexOf("&");

                    if (marca.indexOf("?") && marca.indexOf("?") < posicao)
                        posicao = marca.indexOf("?");

                    marca = marca.substring(0, posicao);
                }

                urlFinal = url.replace(marca, valor.value);

                //urlFinal = url.replace(url.substring(url.indexOf("marca") -1, url.length), "") + "&marca=marca_" + valor.value;
            }
            
        }

        window.location.replace(urlFinal);
    }
</script>