{% if filters %}
 
<form name="form-filter" method="get" class="smart-filter">
    <input type="hidden" name="loja" value="{{ store.id }}">
 
    {% if category.id %}
        <input type="hidden" name="categoria" value="{{ category.id }}">
    {% endif %}
 
    {% for myFilter in filters %}
 
        {% if myFilter.items %}
 
            <h3 class="{{ myFilter.title|lower }}">{{ myFilter.title }}</h3>
            <ul class="{{ myFilter.title|lower }}">
            {% for item in myFilter.items %}
                <li>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
 
        {% elseif myFilter|length %}
 
           {% for var in myFilter %}
                {% if var.title|length %}
                   <h3>{{ var.title }}</h3>
                {% endif %}
                <ul class="filter-{{ var.title|lower }}">
                {% for item in var.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
           {% endfor %}
 
        {% endif %}
 
    {% endfor %}
    
 </form>
 
{% endif %}