<div style="height: 100px">

{% if filters %}
<form name="form-filter" method="get" class="smart-filter">

    <input type="hidden" name="loja" value="{{ store.id }}">
 
    {% if category.id %}
        <input type="hidden" name="categoria" value="{{ category.id }}">
    {% endif %}
 
    {% for myFilter in filters %}
 
        {% if myFilter.items|length > 1 %}
            <h2>{{ myFilter.title }}</h2>
            {% if myFilter.title == 'Filtrar por Marca' %}

                <select class="selectFormasPgto" onchange="filtroAlterado(this)">
                                <option value="NonSelected">Marca</option>
                                 {% for item in myFilter.items %}
                                    <option value="{{ item.url }}">
                                        {{ item.title }}
                                    </option>
                                {% endfor %}
                            </select>
            {% endif %}

            {% if 'Faixa de Pre' in myFilter.title  %}     

            <select class="selectFormasPgto" onchange="filtroAlterado(this)">
                                <option value="NonSelected">Faixa de Preço</option>
                                 {% for item in myFilter.items %}
                                    <option value="{{ item.url }}">
                                        {{ item.title }}
                                    </option>
                                {% endfor %}
                            </select>           

            {% endif %}
        {% elseif myFilter.items|length %}

                <select class="selectFormasPgto" onchange="filtroAlterado(this)">
                               

                                 {% for item in myFilter.items %}
                                    <option value="{{ item.url }}">
                                        {{ item.title }}
                                    </option>
                                {% endfor %}
                                <option value="NonSelected">Remover</option>
                            </select>

        {% endif %}
 
    {% endfor %}
    
 </form>
 
{% endif %}

</div>

<script>
    function filtroAlterado(valor) {

        if (valor.value !== "NonSelected")
        {
            window.location.replace(valor.value);
        }        
    }
</script>