.product-name {
    font-family: OswaldBold;
    font-size: 12pt; 
    margin-bottom: 5px;
    color: #000;
    text-transform: uppercase;
    height: 35px;
}

.prd_AreaInfo .product-payment span, .product-payment {
    font-family: OswaldRegular;
    font-size: 10pt;
    color: #999999;
    margin-bottom: 5px;
    line-height: 8px;
}

.prd_AreaInfo span {
    color: #0099cc;
    font-size: 16pt;
    font-family: OswaldBold;
    line-height: 21px;
}