.product-name {
    font-family: OswaldBold;
    font-size: 12pt; 
    margin-bottom: 5px;
    color: #000;
    text-transform: uppercase;
    height: 35px; 
}
 
.prd_AreaInfo .product-payment span, .product-payment {
    font-family: OswaldRegular;
    font-size: 10pt;
    color: #999999;
    margin-bottom: 5px;
    line-height: 8px;
}

.prd_AreaInfo span {
    color: #0099cc;
    font-size: 16pt;
    font-family: OswaldBold;
    line-height: 21px; 
}





/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */



div.tab p {
    width: 25%;
    height: 10px;
    background: #666666;
    position: absolute;
    top: 0px;    
    margin-left: -10px;
}

div.tab .active p {
    background: yellow;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#spanComprar, #spanInfo, #spanMedidas, #spanComentarios {
    background-color: #333333!important;
}


div.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
    /* position: fixed; */
    /* bottom: 26px; */
    /* margin-bottom: 0px; */
    position: absolute;
    width: 100%;
    bottom: 0px;
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.product_Cart {    
    margin: -25px 45px;
}