{% if products|length > 0 %}

{% set cont = 0 %}
{% set aberto = 0 %}

{% for product in products %}

{% if aberto == 0 %}
    <div class="row noSpacing hidden-xs"  style="margin:0; width:100%; ">
{% set aberto = 1 %}
{% endif %}

{% set cont = cont + 1%}
    <div class="noSpacing col-xs-3 mob50" >
        {% element 'snippets/product' {"product": product} %}
    </div>

{% if ( aberto == 1 and cont == products|length) or (aberto == 1 and cont is divisible by(4))    %}
   </div>
   {% set aberto = 0 %}
{% endif %}

{% endfor %}

{% endif %}

{% if products|length > 0 %}

{% set cont = 0 %}
{% set aberto = 0 %}

{% for product in products %}

{% if aberto == 0 %}
    <div class="row noSpacing visible-xs"  style="margin:0; width:100%; ">
{% set aberto = 1 %}
{% endif %}

{% set cont = cont + 1%}
    <div class="noSpacing col-xs-3 mob50" >
        {% element 'snippets/product' {"product": product} %}
    </div>

{% if ( aberto == 1 and cont == products|length) or (aberto == 1 and cont is divisible by(2))    %}
   </div>
   {% set aberto = 0 %}
{% endif %}

{% endfor %}

{% endif %}