<!doctype html>
<html lang="pt-br" data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">

<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- theme styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

    <link href="{{ asset('css/pages/snippets/product.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/search.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/header.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/footer.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/pages/default.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/pages/home.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/pages/catalog.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/flyoutCart.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/ban3.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/marcas.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/elements/BannerCarousel.css') }}" rel="stylesheet" type="text/css" />

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

    
    <style>
        {
            {
                settings.custom_css
            }
        }

        .infobox.danger {
            display: none;
        }
    </style>

    <!-- tray scripts -->
    {{ tray.scripts }}

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}

    
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
</head>

<body>
    {% spaceless %} {{ googleTagManager.top(pages.current, tagManagerData) }} {% element 'snippets/messages' %} {% element 'snippets/menu-mobile'
    %}

    <div class="application">

        <div id="overlay-back"></div> 

        {% element 'header' %}

        {{ content_for_layout }}

        {% element 'footer' %}
    </div>

    {% element 'snippets/credits' %} {{ googleTagManager.bottom(pages.current, tagManagerData) }}

    <!-- tray -->
    {% element 'snippets/modal' %} {{ googleTagManager.bottom(pages.current, tagManagerData) }} {{ html.script('dist/application.min.js?'
    ~ utils.assets_version) }} {% element 'snippets/pageview' %} {{ store.chat }}

    <!-- theme scripts-->
    <script type="text/javascript" src="{{ asset('js/theme.min.js') }}"></script>
    <script src="{{ asset('js/modules/animations.js') }}" type="text/javascript"></script>

    {% if settings.background_image %}
    <style>
        body {
            background-image: url('{{ themePath }}{{ settings.background_image }}');
        }
    </style>
    {% endif %} {% endspaceless %}
</body>

</html>