<div>
    <div class="catalog_Banner">
        <img class="img-responsive" src="{{ asset('img/assets/categories/vestuario.jpg') }}" />
    </div>
    <div class="catalog_Filter">
        <div class="row">
            <div class="col-md-2">
                <div class="catalog_Filter_Item filter" onclick="filtersClick()" style="cursor: pointer">
                    <div class="catalog_Filter_Area">
                        <img src="{{ asset('img/assets/icons/iconFilter.png') }}" />
                        <span>Filtros</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>NOVIDADES</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>MASCULINO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>FEMININO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>INFANTIL</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>ACESSÓRIOS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="catalog_Filter_Item">
                    <div class="catalog_Filter_Area category">
                        <span>INVERNO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="catalog_Filter_Item">
                    {% if products|length > 0 %} {% element 'snippets/filter' { 'brands': category.brands } %} {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <div class="catalog_AreaFiltros">
                {% element('snippets/smartFilters') %}
            </div>
        </div>
    </div>
</div>

{% if products|length > 0 %}

<div class="catalog-content row" style="margin-left: 0px; margin-right: 0px">
    {% element 'showcase-catalog' { "products": products } %}
</div>

{% else %}

<div class="catalog-empty">
    <img src="{{ asset('img/catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
    <p>Nenhum produto encontrado nessa categoria.</p>
</div>

{% endif %}

<div style="display:none;">
    {% element 'snippets/history' { 'store.id': store.id, 'pages.current': pages.current, 'category.id': category.id } %}
</div>

{% if banner.bottom %}
<div class="banner banner-bottom">
    {{ banner.bottom }}
</div>
{% endif %}

<script>
    function filtersClick() {

        if (jQuery(".catalog_AreaFiltros").css("display") === "none") {
            jQuery(".catalog_AreaFiltros").css("display", "block");

            jQuery(".catalog_AreaFiltros").animate({
                height: "100px"
            }, {
                duration: 300,
                specialEasing: {
                    width: 'linear'
                }
            });
        } else {
            jQuery(".catalog_AreaFiltros").css("display", "none");
            jQuery(".catalog_AreaFiltros").css("height", "0px");
        }

    }
</script>