{% if settings.limitProducts %} {% set limitProducts = settings.limitProducts %} {% else %} {% set limitProducts = 3 %} {%
endif %} {% if settings.showcase == "featured" %} {% set showcaseText = "Destaques" %} {% elseif settings.showcase == "new"
%} {% set showcaseText = "Lan&ccedil;amentos" %} {% elseif settings.showcase == "free_shipping" %} {% set showcaseText =
"Frete Gr&aacute;tis" %} {% elseif settings.showcase == "promotion" %} {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase == "top_seller" %} {% set showcaseText = "NOVIDADES" %} {% endif %} {% if settings.showcase ==
"top_seller" %}
<div id="prognoos_popv1"></div>
{% set products = Products({ 'filter': 'available', 'limit': limitProducts, 'order': {'quantity_sold': 'desc'} }) %} {% else
%} {% set products = Products({ 'filter': settings.showcase, 'limit': limitProducts, 'order': 'rand' }) %} {% endif %} {%
if banner.extra7 %}

<div id="bannerHome">
  <div id="owl-demo" class="owl-carousel owl-theme">
    {% for slide in banners.extra7.slides %}
    <div class="item">
      <a href="{{ slide.link }}">
        <img src="{{ slide.image }}" alt="{{ slide.label}}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="areaBanners row" style="margin-left: 0px; margin-right: 0px">
  <div class="noSpacing col-md-6">
    {% if banner.extra8 %}
    <a href="{{ banners.extra8.link }}" target="{{ banners.extra8.target }}">
      <img src="{{ banners.extra8.src }}" class="imgBannerEx3" alt="{{ banners.extra8.alt }}">
    </a>
    {% endif %}
  </div>
  <div class="noSpacing col-md-6">
    <div class="areaTroca">
      <div class="noSpacing col-xs-6">
        <a onclick="trocaBannerHome()">
          <div id="linkBannerA" class="areaLinkBannerA active"><span style="color:transparent">_</span></div>
        </a>
      </div>
      <div class="noSpacing col-xs-6">
        <a onclick="trocaBannerHome()">
          <div id="linkBannerB" class="areaLinkBannerB"><span style="color:transparent">_</span></div>
        </a>
      </div>
    </div>

    <div class="areaBannerA">
      {% if banner.extra9 %}
      <a href="{{ banners.extra9.link }}" target="{{ banners.extra9.target }}">
        <img src="{{ banners.extra9.src }}" class="img-responsive imgBannerEx3" alt="{{ banners.extra9.alt }}">
      </a>
      {% endif %}
    </div>
    <div class="areaBannerB">
      {% if banner.extra10 %}
      <a href="{{ banners.extra10.link }}" target="{{ banners.extra10.target }}">
        <img src="{{ banners.extra10.src }}" class="img-responsive imgBannerEx3" alt="{{ banners.extra10.alt }}">
      </a>
      {% endif %}
    </div>

  </div>
</div>

<div class="noSpacing row" style="margin-left: 0px; margin-right: 0px">
  <div class="noSpacing col-md-4 col-xs-6">
    {% if banner.extra11 %}
    <a href="{{ banners.extra11.link }}" target="{{ banners.extra11.target }}">
      <img src="{{ banners.extra11.src }}" class="img-responsive imgBannerEx3" alt="{{ banners.extra11.alt }}" style="min-width: 100%">
    </a>
    {% endif %}
  </div>
  <div class="noSpacing col-md-4 col-xs-6">
    {% if banner.extra12 %}
    <a href="{{ banners.extra12.link }}" target="{{ banners.extra12.target }}">
      <img src="{{ banners.extra12.src }}" class="img-responsive imgBannerEx3" alt="{{ banners.extra12.alt }}" style="min-width: 100%">
    </a>
    {% endif %}
  </div>
  <div class="noSpacing col-md-4">
    {% if banner.extra13 %}
    <a href="{{ banners.extra13.link }}" target="{{ banners.extra13.target }}">
      <img src="{{ banners.extra13.src }}" class="img-responsive imgBannerEx3" alt="{{ banners.extra13.alt }}" style="min-width: 100%">
    </a>
    {% endif %}

    <div class="areaBannerCategory">
      <div class="areaBannerCategoryContent">
        <div class="col-md-2" onclick="trocarCategoria('diminuir')">
          <img src="{{ asset('img/assets/banners/barraEsquerda.png') }}" />
        </div>
        <div class="col-md-8" style="    text-align: center;    margin-top: -20px;    height: 80px;     line-height: 80px;">

          {% set categorias = [14,3,4,8,17] %} 
            {% for level1 in categories %} 
              {% if level1.id in categorias %}
                {% if loop.index == 3 %}
                    <span id="option_{{ loop.index }}_{{ level1.id }}" class="optionDisplay">{{ level1.name }}</span>
                {% else %}
                    <span id="option_{{ loop.index }}_{{ level1.id }}" class="notDisplay">{{ level1.name }}</span>
                {% endif %}    
              {% endif %}    
            {% endfor %}

        </div>
        <div class="col-md-2" style="text-align: right" onclick="trocarCategoria('aumentar')">
          <img src="{{ asset('img/assets/banners/barraDireita.png') }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="noSpacing row" style="margin-left: 0px; margin-right: 0px; min-height: 500px;">
  <div class="prd_loading">
    <span>CARREGANDO ...</span>
  </div>
  <div id="home_prd_0" class="noSpacing col-md-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prd_1" class="noSpacing col-md-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prd_2" class="noSpacing col-md-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
  <div id="home_prd_3" class="noSpacing col-md-3">
    <div class="prd_AreaImage">
      <img class="img-responsive" />
    </div>
    <div class="prd_AreaInfo">
      <h4></h4>
      <h5></h5>
      <span></span>
      <h6></h6>
    </div>
  </div>
</div>


<script type="text/javascript">

  $(".prd_loading").fadeOut(200);

  function trocarCategoria(acao) {

    var option;
    
    if (acao === "aumentar")
    {
      option = jQuery(".optionDisplay").next();
    }
    else
    {
      option = jQuery(".optionDisplay").prev();
    }

    if (typeof option.attr("id") !== "undefined")
    {
      jQuery(".optionDisplay").addClass("notDisplay");
      jQuery(".optionDisplay").removeClass("optionDisplay");
      jQuery(option).addClass("optionDisplay");
      jQuery(option).removeClass("notDisplay");

      var optionId = option.attr("id"); 
      var ordem = optionId.split("_")[1];
      var id = optionId.split("_")[2];

      carregarProdutos(id);
    }
    
  }

  var optionId = jQuery(".optionDisplay").attr("id"); 
  var ordem = optionId.split("_")[1];
  var id = optionId.split("_")[2];

  carregarProdutos(id);

  function carregarProdutos(categoriaId) {
                    var params = {};

                    $(".prd_loading").fadeIn();

                    params["category_id"] = categoriaId;
                    params["page"] = "1";
                    params["limit"] = "4";
                    params["store_id"] = {{ store.id }}

                    LimparProdutos();

                    $.ajax({
                      method: "GET",
                      url: "/web_api/products/",
                      data: params
                    }).done(function (response, textStatus, jqXHR) {

                      var products = response.Products;
                      var i = 0;

                      
                    
                      products.forEach(function(prod) {

                          $("#home_prd_" + i + " img").attr({ src:  prod.Product.ProductImage[0].http })
                          $("#home_prd_" + i + " h4").text(prod.Product.name)
                          $("#home_prd_" + i + " h5").text("de: " + prod.Product.price)
                          $("#home_prd_" + i + " span").text("A partir de: " + prod.Product.price)
                          $("#home_prd_" + i + " h6").text("Ou 3x sem juros de R$ " + prod.Product.price)

                          i++;
                      });

                      $(".prd_loading").fadeOut(400);


                    }).fail(function (jqXHR, status, errorThrown) {
                        $(".prd_loading").fadeOut(400);
                    })
  }

  function LimparProdutos() {
      for (i = 0; i < 4; i++) { 
        $("#home_prd_" + i + " img").attr({ src:  "" })
                          $("#home_prd_" + i + " h4").text("")
                          $("#home_prd_" + i + " h5").text("")
                          $("#home_prd_" + i + " span").text("")
                          $("#home_prd_" + i + " h6").text("")
    }
  }

                    

</script>
