{% if settings.limitProducts %} {% set limitProducts = settings.limitProducts %} {% else %} {% set limitProducts = 3 %} {%
endif %} {% if settings.showcase == "featured" %} {% set showcaseText = "Destaques" %} {% elseif settings.showcase == "new"
%} {% set showcaseText = "Lan&ccedil;amentos" %} {% elseif settings.showcase == "free_shipping" %} {% set showcaseText =
"Frete Gr&aacute;tis" %} {% elseif settings.showcase == "promotion" %} {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase == "top_seller" %} {% set showcaseText = "NOVIDADES" %} {% endif %} {% if settings.showcase ==
"top_seller" %}
<div id="prognoos_popv1"></div>
{% set products = Products({ 'filter': 'available', 'limit': limitProducts, 'order': {'quantity_sold': 'desc'} }) %} {% else
%} {% set products = Products({ 'filter': settings.showcase, 'limit': limitProducts, 'order': 'rand' }) %} {% endif %}


<div id="bannerHome" class="noSpacing col-md-12">
    <div class="banner_teste"></div>
</div>



<div>teste</div>