<style>
  @media (max-width: 767px) {
      .page-home .showcase-title {
          font: 400 35px/35px 'Oswald',sans-serif !important;
          margin: 20px 15px !important;
      }
  }

  .prd_AreaInfo span {
    /*color: #2fa1db;*/
    font-size: 16pt;
    font-family: OswaldBold;
  }
  .prd_AreaInfo h6 {
    font-size: 13pt;
  }
</style>
{% if not utils.is_mobile %}
<div class="divBordaSeparacao"></div>
{% endif %}

{% if banner.home %}

<div id="bannerHome" class="hidden-xs">
  <div id="owl-demo" class="owl-carousel owl-theme">
    {% for slide in banners.home.slides %}
    <div class="item">
      <a href="{{ slide.link }}">
        <img src="{{ slide.image }}" alt="{{ slide.label}}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if banner.extra7 %}

<div id="bannerHomeMob" class="visible-xs">
  <div id="owl-demoMob" class="owl-carousel owl-theme">
    {% for slide in banners.extra7.slides %}
    <div class="item">
      <a href="{{ slide.link }}">
        <img src="{{ slide.image }}" alt="{{ slide.label}}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endif %}
<div class="areaBanners row" style="margin-left: 0px; margin-right: 0px">
  <div class="noSpacing col-sm-6" >
    <div>
        {% if banner.extra1 %}
            <a href="{{ banners.extra1.link }}" target="{{ banners.extra1.target }}">
              <img src="{{ banners.extra1.src }}" class="imgBannerEx3 hidden-xs" alt="{{ banners.extra1.alt }}">
              <img src="https://images.tcdn.com.br/img/{{ banners.extra1.img_alt }}" class="imgBannerEx3 visible-xs" alt="{{ banners.extra1.alt }}">
            </a>
        {% endif %}
    </div>
  </div>
  <div class="noSpacing col-sm-6" >
    <div class="areaTroca">
      <div class="areaTrocaLinks noSpacing col-xs-6">
        <a onclick="trocaBannerHome()">
          <div id="linkBannerA" class="areaLinkBannerA active"><span style="color:transparent">_</span></div>
        </a>
      </div>
      <div class="areaTrocaLinks noSpacing col-xs-6">
        <a onclick="trocaBannerHome()">
          <div id="linkBannerB" class="areaLinkBannerB"><span style="color:transparent">_</span></div>
        </a>
      </div>
    </div>

    <div class="areaBannerA" >
      {% if banner.extra2 %}
      <a href="{{ banners.extra3.link }}" target="{{ banners.extra3.target }}">
        <img src="{{ banners.extra3.src }}" class="img-responsive imgBannerEx3 hidden-xs" alt="{{ banners.extra3.alt }}">
        <img src="https://images.tcdn.com.br/img/{{ banners.extra3.img_alt }}" class="img-responsive imgBannerEx3 visible-xs" alt="{{ banners.extra3.alt }}">
      </a>
      {% endif %}
    </div>
    <div class="areaBannerB" >
      {% if banner.extra3 %}
      <a href="{{ banners.extra2.link }}" target="{{ banners.extra2.target }}">
        <img src="{{ banners.extra2.src }}" class="img-responsive imgBannerEx3 hidden-xs" alt="{{ banners.extra2.alt }}">
        <img src="https://images.tcdn.com.br/img/{{ banners.extra2.img_alt }}" class="img-responsive imgBannerEx3 visible-xs" alt="{{ banners.extra2.alt }}">
      </a>
      {% endif %}
    </div>

  </div>
</div>

{% if utils.is_mobile %}
    {% set novidades = Products({ 
        'filter': ['available', 'new'],
        'order': 'rand', 
        'limit': '12',
    }) %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />

    <div class="noSpacing row" style="margin-left: 0px; margin-right: 0px; background: #fff02a;">
      <h2 class="showcase-title">NOVIDADES</h2>
    </div>
    <div class="noSpacing row" style="margin-left: 0px; margin-right: 0px;">
        {{
            _view.element('snippets/showcase_home', {
                "products" : novidades,
                'showcaseTitle' : "Novidades"
            })
        }}
    </div>    
{% endif %}


<div class="noSpacing row" style="margin-left: 0px; margin-right: 0px">
  <div class="noSpacing col-sm-4">
    {% if banner.extra4 %}
    <a href="{{ banners.extra4.link }}" target="{{ banners.extra4.target }}">
      <img src="{{ banners.extra4.src }}" class="img-responsive imgBannerEx3 hidden-xs" alt="{{ banners.extra4.alt }}" style="min-width: 100%">
      <img src="https://images.tcdn.com.br/img/{{ banners.extra4.img_alt }}" class="img-responsive imgBannerEx3 visible-xs" alt="{{ banners.extra4.alt }}">
    </a>
    {% endif %}
  </div>
  <div class="noSpacing col-sm-4">
    {% if banner.extra5 %}
    <a href="{{ banners.extra5.link }}" target="{{ banners.extra5.target }}">
      <img src="{{ banners.extra5.src }}" class="img-responsive imgBannerEx3 hidden-xs" alt="{{ banners.extra5.alt }}" style="min-width: 100%">
      <img src="https://images.tcdn.com.br/img/{{ banners.extra5.img_alt }}" class="img-responsive imgBannerEx3 visible-xs" alt="{{ banners.extra5.alt }}">
    </a>
    {% endif %}
  </div>
  <div class="noSpacing col-sm-4">
    {% if banner.extra6 %}
    <a href="{{ banners.extra6.link }}" target="{{ banners.extra6.target }}">
      <img src="{{ banners.extra6.src }}" class="img-responsive imgBannerEx3 hidden-xs" alt="{{ banners.extra6.alt }}" style="min-width: 100%">
      <img src="https://images.tcdn.com.br/img/{{ banners.extra6.img_alt }}" class="img-responsive imgBannerEx3 visible-xs" alt="{{ banners.extra6.alt }}">
    </a>
    {% endif %}

    <div class="areaBannerCategory hidden-xs">
      <div class="areaBannerCategoryContent">

        <div class="col-sm-12 roteTab" >
          <h2 class="showcase-title">NOVIDADES</h2>
        </div>

      </div>
    </div>
  </div>
</div>

{% if not utils.is_mobile %}

    {% set novidades = Products({ 
        'filter': ['available', 'new'],
        'order': 'rand', 
        'limit': '12',
    }) %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />

    <div class="noSpacing row" style="margin-left: 0px; margin-right: 0px; background: #fff02a;">
      
    </div>
    <div class="noSpacing row" style="margin-left: 0px; margin-right: 0px;">
      
        {{
            _view.element('snippets/showcase_home_desktp', {
                "products" : novidades,
                'showcaseTitle' : "Novidades"
            })
        }}
      
    </div>    

{% endif %}