<section> 
    <div class="row "> <!--  .is-table-row -->
        <div class="col-md-5 noSpacing" id="areaImagem">
            {% if utils.is_mobile %}
                <div class="product-gallery">
                    {{ productHelper.gallery() }}
                </div>
                {% else %}
                {% if product.images %}
                <div class="product-gallery">

                    <div class="thumbs-vertical" id="product-gallery">
                        <div class="carousel-gallery carousel-trigger-{{ product.id }}">
                            {% for key,product_image in product.images %}
                            <a href="#" data-image="{{ product_image.large }}" class="itrigger-{{ product.id }}" data-zoom-image="{{ product_image.full }}" alt="{{ product.name }}" title="{{ product.name }}">
                                <img src="{{ product_image.large }}" alt="{{ product.name }}">
                            </a>
                            {% endfor %}
                        </div>

                        {% if product.variants.sku.Tamanho|length >= 2 %}
                        {% for key,product_image in product.variants.sku.Tamanho %}
                        <div class="carousel-gallery carousel-trigger-{{ product_image.id }}" style="display: none;">
                            {% for key2,product_img in product_image.images %}
                            <a href="#" data-image="{{ product_image.small }}" class="itrigger-{{ product.id }}" data-zoom-image="{{ product_image.full }}" alt="{{ product.name }}" title="{{ product.name }}">
                                <img src="{{ product_image.small }}" alt="{{ product.name }}">
                            </a>
                            {% endfor %}
                        </div>
                        {% endfor %} 
                        {% endif %}
                    </div>

                    {% if product.video %}
                    <iframe width="560" height="315" src="{{ product.video }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}

                    <div class="container-imagem">
                        <figure>
                            <img src="{{ product.images[0].large }}" data-zoom-image="{{ product.images[0].full }}" class="zoom" alt="{{ product.name }}">
                        </figure>
                    </div>

                </div>
                {% endif %}
                {% endif %}
                <!-- /Galeria -->
        </div>

        <div class="col-md-7 noSpacing">
            <div class="product_Share">
                <div class="col-md-6"></div>
                <div class="col-md-6 noSpacing product_ShareTextArea">                                            
                    <span class="product_ShareText">COMPARTILHAR</span>
                    <div class="product_ShareArea">                        
                        {{ productHelper.social() }}
                    </div>
                </div>                
            </div>            

            <div>

            

            <div id="Comprar" class="tabcontent">
                <div class="product_Info">
                    <div class="product_Title"> 
                        <h1>{{ product.name }}</h1>
                        <h3>COD {{ product.id }}</h3>
                    </div>
                </div>
                <div class="product_Price">
                    <div class="row"> 
                        <div class="col-md-6 noSpacing">
                            {% element 'snippets/productPrice' {"product": product} %}    
                        </div>
                        <div class="col-md-6 noSpacing"> 

                        </div>
                    </div>
                </div>
                <div class="product_Cart">
                    <div class="row">
                        <div class="col-md-6 noSpacing">
                            
                            {% if productHelper.variants != '' %}
                            <div class="product_Variants">
                                {{ productHelper.variants() }}
                            </div>
                            {% endif %}

                        </div>

                        <div class="col-md-6 noSpacing">

                            {% element 'snippets/qtd-form' {"product": product} %}

                        </div>
                    </div>

                    <div class="row"> 

                        <div class="col-md-12 noSpacing product_BuyArea">

                            <a>
                                <span class="product_WishList">Colocar na lista de desejos</span>
                            </a>


                            {% element 'snippets/buy-form' {"product": product} %}


                            {% if not product.upon_request and product.available %}
                            {% endif %}
                            {{ productHelper.shipping() }}

                            {% if product.additional_message %}
                            <div class="additional-message">
                                {{ product.additional_message }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="Informacoes" class="tabcontent">
                <div class="product_Info">
                    <div class="product_Title"> 
                        <h1>INFORMAÇÕES</h1>
                        <h5>DESCRIÇÃO GERAL</h5>

                        <div class="board">
                            <div class="board_htm description">
                                {{ product.description ? product.description : product.description_small }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Medidas" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
            </div>
            <div id="Comentarios" class="tabcontent">
                <div class="product_Info">
                    <div class="product_Title"> 
                        <h1>COMENTÁRIOS</h1>
                        
                        <div class="board">
                            {% element 'product/comments' %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab">
                <a id="linkComprar" onclick="openCity(event, 'Comprar')" class=" active">
                    <div id="spanComprar" class="tablinks">
                        <p></p>
                        <span>COMPRAR</span>
                    </div>
                </a>
                <a onclick="openCity(event, 'Informacoes')" >
                    <div id="spanInfo" class="tablinks">
                        <p></p>
                        <span>INFORMAÇÕES</span>
                    </div>
                </a>
                <a onclick="openCity(event, 'Medidas')">
                    <div id="spanMedidas" class="tablinks">
                        <p></p>
                        <span>TABELA DE MEDIDAS</span>
                    </div>
                </a>
                <a onclick="openCity(event, 'Comentarios')">
                    <div id="spanComentarios" class="tablinks">
                        <p></p>
                        <span>COMENTÁRIOS</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>

    {% if product.related_products %}

    <div class="row">
        <div class="product_RelatedArea">
            <div class="product_RelatedTitle">
                <h3>QUEM VIU, TAMBÉM CURTIU</h3>
            </div>
        </div>
    </div>
    <div class="row product-list">
    {% for related in product.related_products %}
          <div class="col-sm-3 product">
              {% element 'snippets/product' {"product": related} %}
          </div>
    {% endfor %}
    </div>


    {% endif %}

    

<script>    
    jQuery(window).resize(function () {
        ajustaTela();
    });

    (function (jQuery) {
        jQuery(document).ready(function () {
            ajustaTela();
        })

        jQuery(".texto_variacao h2").text("Tamanho");
    })(jQuery); 

    function ajustaTela() {
        document.getElementById('Comprar').style.display = "block";
        var altura = jQuery("#areaImagem").height() - jQuery(".product_Share").height() - 12;
        jQuery("#Comprar").height(altura);
        jQuery("#Informacoes").height(altura);        
        jQuery("#Medidas").height(altura);   
        jQuery("#Comentarios").height(altura);   
    }

    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        jQuery(".tab a").each(function(e) {
            if (this.className === " active")
                this.className = "";
        });

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
 