.catalog_Filter {
    background-color: #000;
}

.catalog_Filter_Item {
    height: 65px;
    width: 100%;
    text-align: center;
}

.catalog_Filter_Item .filtro_marca {
    display:  none;
}

.filtro-ordem {
        float: left;
    color: #fff;
    margin-top: 28px;
    font-size: 8pt;
    margin-left: 10px;
}

.catalog_Filter_Item select {
        position: absolute;
    right: 0px;
    top: 25px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 8pt;
}

.catalog_Filter_Area {
    width: 100px;
    margin: auto;
    padding-top: 20px;
}

.catalog_Filter_Area img {
    float: left;
}

.catalog_Filter_Area span {
    float: left;
    font-size: 11pt;
    font-family: OswaldRegular;
    margin-left: 12px;
    line-height: 22px;
    text-transform: uppercase;
}

.filter {
    background-color: #ffff33;
}

.category { 
    color: #ffffff;
}

.catalog_AreaFiltros {
    background-color: #ffff33;
    height: 0px;
    width: 100%;
    border-top: 1px solid #000;
    text-align: left;
    display: none;
}

.catalog_ContentFiltros {
    background-color: pink;
    width: 80%;
    margin: auto;
    height: 60px;
    margin-top:20px;
}

.catalog_Close {
    border: 1px solid #666600;
    height: 42px;
    text-align: center;
    width: 49px;
    margin: 10px auto;
}

.catalog_Close h3 {
        width: 100%;
    height: 100%;
    line-height: 40px;
    color: #330000;
    font-size: 18pt;
}

.catalog_Search {
    border: 1px solid #666600;
    height: 42px;
    text-align: center;
    width: 49px;
    margin: 10px auto;
}

.catalog_Search span {
        width: 100%;
    height: 100%;
    line-height: 36px;
    color: #330000;
    font-size: 15pt;
}

.catalog_Apply {
    background-color: #000;
    height: 44px;
    text-align: center;
    width: 100%;
    color: #fff;
    max-width: 200px;
    margin: 9px auto;
}

.catalog_Apply h3 {
        color: #fff;
    font-size: 17px;
    width: 100%;
    line-height: 44px;
    font-family: OswaldRegular;
}