.product-payment-catalog .txt-corparcelas,
.product-payment-catalog .color,
.product-payment-catalog .preco-parc2,
.product-payment-catalog .txt-comjurosde,
.product-payment-catalog .preco-parc2 span {
    color: #999 !important;
    font-size: 1.5rem !important;
    font-family: OswaldRegular !important; 
    line-height: 0px;
    font-weight: 800;
    /*margin-right: -21px;*/
    
}

.catalog_Filter {
    background-color: #000;
}

.catalog-empty {
    margin: 40px 0px 80px 0px;
    text-align: center;
}

.itemMenu{
 font-family: OswaldRegular;
 font-size: 12.7pt;
 padding-top:25px;
 color:#fff !important;
}

.catalog_Filter_Item {
    height: 65px;
    width: 100%;
    text-align: center;
}

.catalog_Filter_Item .filtro_marca {
    display: none;
}

.catalog_Filter_Item select {
    position: absolute;
    right: 0px;
    top: 25px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 8pt;
}

.catalog_Filter_Area {
    width: 100px;
    margin: auto;
    padding-top: 20px;
}

@media (max-width: 1400px) {
    .catalog_Filter_Area img {
        float: left;
        margin-top:5px;
    }
    .catalog_Filter_Item .plain-select:after {
        border-top: 6px solid #fff;
        margin-top:3px;
    }
}
@media (min-width: 1400px) {
    .catalog_Filter_Area img {
        float: left;
    }
    .catalog_Filter_Area span {
        float: left;
        font-size: 12.7pt;
        font-family: OswaldBold;
        line-height: 32px;
        text-transform: uppercase;
        text-align: left;
    }
    .catalog_Filter_Item .plain-select:after {
        border-top: 6px solid #fff;
        margin-top:3px;
        right: -10px;
    }  
}

.filter {
    background-color: #000 !important;
    background-color: #000 ;
    margin:0; padding: 0;
    font-size: 12.7pt;
    font-family: OswaldBold;
    line-height: 22px;
    text-transform: uppercase;
    color:#fff;
    text-align:left;
}

.filterAtive {
    background-color: #ffff33 !important;
}

.category {
    color: #ffffff;
}

.catalog_AreaFiltros {
    background-color: #ffff33;
    height: 100px;
    width: 100%;
    border-top: 1px solid #000;
    text-align: left;
    display: none;
}

.catalog_ContentFiltros {
    width: 85%;
    margin: auto;
    height: 60px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .catalog_Close {
        border: 1px solid #000;
        height: 67px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .catalog_Close {
        border: 1px solid #000;
        height: 42px;
        text-align: center;
        width: 49px;
    }
}
@media (min-width: 1450px) {
    .catalog_Close {
        margin-left: 12px;
    }
}


@media (min-width: 767px) {
    .catalog_Close h3 {
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: #330000;
        font-size: 18pt;
    }

}
@media (max-width: 767px) {
    .catalog_Close h3 {
        width: 100%;
        height: 100%;
        margin: 10px 0;
        line-height: 40px;
        color: #330000;
        font-size: 18pt;
    }
}

.plain-select {
    width: 100%;
}
.plain-select select {
    line-height: normal;
    height: 42px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    /*width: 99% !important;*/
    background: #ffff33 !important;
    line-height: normal;
}

.catalog_Filter_Item .plain-select select{
    background: #000 !important;
}
.catalog_Filter_Item .plain-select{
    position: inherit !important;
}

.catalog_Search {
    border: 1px solid #000;
    height: 45px;
    text-align: center;
    width: 49px;
    margin: 10px auto;
}

.catalog_Search span {
    line-height: 36px;
    color: #330000;
    font-size: 15pt;
}

.catalog_Apply {
    background-color: #000;
    height: 44px;
    text-align: center;
    width: 100%;
    color: #fff;
    max-width: 200px;
    margin: 9px auto;
}

.catalog_Apply h3 {
    color: #fff;
    font-size: 17px;
    width: 100%;
    line-height: 44px;
    font-family: OswaldRegular;
}

.uniqueFilters {
    height: 44px;
    margin: 9px auto;
    text-align: center;
    float: left;
}

.uniqueFilters .selectFormasPgto {
    min-height: 44px;
    background-color: #ffff33;
    color: #000;
}

#el01 {
    color: #00f;
}

select.inpSelect {
    -webkit-appearance: none;
    color: red;
    background-color: red;
}

.bordaDireita{
    border-right: 1px solid #ffff33;
    text-align: center;
}

@media (min-width: 1400px) {
    .filtro-ordem {
        float: left;
        color: #fff;
        margin-top: 30px;
        font-size: 8pt;
        margin-left: 10px;

    }

    #select_ordem {
        margin-left: 30px;
        border-radius: 0;
        display: inline-block;
        font: 600 13px 'OxygenRegular', sans-serif;
        /*margin: 0;*/
        width: auto;
        height: 34px;
        padding: 6px 12px;
        background-color: #000;
        border: none;
        color: #fff;
        margin-top: -9px;
        margin-right: -50px;
        /*padding-left: 10%;*/
        left:40%;
    }

}


@media (max-width: 1400px) {
    .catalog_Filter_Area span {
        float: left;
        font-size: 12.7pt;
        font-family: OswaldBold;
        line-height: 32px;
        text-transform: uppercase;
        text-align: left;
    }
    .filtro-ordem {
        float: left;
        color: #fff;
        margin-top: 30px;
        font-size: 8pt;
        margin-left: 10px;
    }
    #select_ordem {
        /*margin-left: 30px;*/
        border-radius: 0;
        display: inline-block;
        font: 600 13px 'OxygenRegular', sans-serif;
        /*margin: 0;*/
        width: auto !important;
        height: 34px;
        padding: 6px 12px;
        background-color: #000;
        border: none;
        color: #fff;
        margin-top: -9px;
        margin-right: -50px;
        /*padding-left: 10%;*/
        left:50%;
    }

    .filter {
        background-color: #000 ;
        margin:0; padding: 0;
        color:#fff;
        text-align:left;
    }

    .filterActive {
        background-color: #ffff33 ;
        margin:0; padding: 0;
        color:#fff;
        text-align:left;
    }

    .filtermob {
        margin-right:20px;
        padding-right:0px;
    }
    .margemMob {
        margin-left: 6%;
    }
}

@media (max-width: 736px) {
        .filter {
    background-color: #000 !important;
    margin:0; padding: 0;
    color:#fff;
    text-align:left;
}


@media (min-width: 1400px) {
    .product-payment-catalog,
    .product-payment-catalog span {
        font-family: OswaldRegular;
        font-size: 11pt;
        color: #999999;
        margin-bottom: 5px;
        line-height: 8px;
    }
    .product-price-catalog span,
    .price-promotion-catalog {
        color: #0099cc;
        font-size: 2rem;
        font-family: OswaldBold;
    }

    .catalog_Filter_Area span {
        float: left;
        font-size: 12.7pt;
        font-family: OswaldBold;

        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
    }
    .filtro-ordem {
        float: left;
        color: #fff;
        margin-top: 28px;
        font-size: 8pt;
        margin-left: 30px;
        font-family: OswaldRegular;
        letter-spacing: 1px;
    }
    #select_ordem {
        margin-left: 5px;
        border-radius: 0;
        display: inline-block;
        font: 600 12px 'OxygenRegular', sans-serif;
        margin: 0;
        width: auto;
        height: 34px;
        padding: 6px 13px;
        background-color: #000;
        border: none;
        color: #fff;
        margin-top: -9px;
                padding-left: 0px;
        left:40%;
    }

    .bordaDireita{
            border-right: 1px solid #ffff33;
    /*border-left: 1px solid #ffff33;*/
     text-align: center;

     padding-left:2%;

    }

    .bordaEsquerda{
            /*border-right: 1px solid #ffff33;*/
        border-left: 1px solid #ffff33;
        text-align: center;
    }
}

}
@media (max-width: 750px) {
    #select_ordem {
        padding: 6px 123px !important;
    }
}
@media (max-width: 415px) {
    #select_ordem {
        padding: 6px 39px !important;
    }
}
@media (max-width: 385px) {
    #select_ordem {
        padding: 6px 32px !important;
    }
}
@media (max-width: 361px) {
    #select_ordem {
        padding: 6px 28px !important;
    }
}
@media (max-width: 320px) {
    #select_ordem {
        padding: 6px 17px !important;
    }
}


