#bannerHome {
    text-align: center;
    background: #000;
}

.banner_teste {
    background-color: gray;
    width: 100%;
    height: 600px;
}

.areaBanners {
    margin-top: -10px;
}

body {
    overflow-x: hidden;
}

.areaTroca {
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.areaLinkBannerA {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.areaLinkBannerB {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.bannerActive {
    background: #fff02a!important;    
}

.areaBannerB {
    display: none;
}

.item img {
    min-width: 100%;
}

.areaBanners  img {
    width: 100%;
}

.areaBannerCategory {
    height: 19%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #fff02a;
}

.areaBannerCategoryContent {
    padding: 20px;
    height: 80px;
    width: 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)

}

.areaBannerCategoryContent span {
    font-family: OswaldRegular;
    text-transform: uppercase;
    font-size: 23pt;
    margin: auto;
    text-align: center;
}

.roteTab {
    text-align: center; 
    margin-top: -20px;
    height: 80px; 
    line-height: 80px; 
}

.prd_AreaInfo {
    margin-top: 20px;
    margin-left: 10px;
    padding: 0px 5px;
}

.prd_AreaInfo h4 {
    font-family: OswaldBold;
    font-size: 12pt; 
    margin-bottom: 5px;
} 
 
.prd_AreaInfo h5 {
    font-family: OswaldRegular;
    font-size: 12pt;
    color: #999999;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.prd_AreaInfo span {
    color: #0099cc;
    font-size: 15pt;
    font-family: OswaldBold;
}

.product .product-payment,
.product .product-payment span, .product .product-payment strong {
    color: #999;
}

.prd_AreaInfo h6 {
    font-family: OswaldRegular;
    font-size: 12pt;
    color: #999999;
    margin-bottom: 5px;
    margin-top: 10px;
}

.prd_loading {
        background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 800px;
    display: block;
    z-index: 999;
    text-align: center;
}

.prd_loading span {
    font-size: 18pt;
    line-height: 300px;
    font-family: OswaldBold;
    color: #c2c2c2;
}

.notDisplay {
    display: none;
}