@media (max-width: 768px)
{
    .areaTroca {
        height: 35px;
        width: 100%;
        position: absolute;
        top: 0px;
    }

    .areaLinkBannerA {
        background: rgba(0, 0, 0, 0.5);
        height: 25px;
        width: 100%;
    }

    .areaLinkBannerB {
        background: rgba(0, 0, 0, 0.5);
        height: 25px;
        width: 100%;
    }

    .areaTrocaLinks {
        padding: 10px 15px;
    }

    .areaBannerBackButton {
        height: 400px;
        width: 25px;
        float: left;
        position: absolute;
        z-index: 999;
        margin-top: 80px;
    }

    .areaBannerBackButton img {
        margin: 200px 10px;
    }

    .areaBannerFrontButton {
        height: 400px;
        width: 25px;
        float: left;
        position: absolute;
        z-index: 999;
        margin-top: 80px;
        right: 10px;
    }

    .prd_AreaImage img {
        margin: auto;
    }

    .areaBannerFrontButton img {
        margin: 200px 10px;
    }

    .areaBannerCategoryContent {
        padding: 20px;
        height: 80px;
        width: 100%;
        left: 0px;
        top: 0px;
        background: #fff02a;  
    }

    .areaBannerCategoryContent span {
        font-family: OswaldRegular;
        text-transform: uppercase;
        font-size: 16pt;
        margin: auto;
        text-align: center;
    }

    .areaBannerHasProduct {
        display: none;
    }

    .areaBannerActive {
        display: block!important;
    }

}

@media (min-width: 768px)
{
    .areaTroca {
        height: 25px;
        width: 100%;
        position: absolute;
        top: 0px;
    }

    .areaLinkBannerA {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    .areaLinkBannerB {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    .areaBannerCategoryContent {
        padding: 20px;
        height: 80px;
        width: 90%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%)

    }

    .areaBannerCategoryContent span {
        font-family: OswaldRegular;
        text-transform: uppercase;
        font-size: 23pt;
        margin: auto;
        text-align: center;
    }
}

#bannerHome {
    text-align: center;
    background: #000;
}

.banner_teste {
    background-color: gray;
    width: 100%;
    height: 600px;
}

.areaBanners {
    margin-top: -10px;
}

body {
    overflow-x: hidden;
}





.bannerActive {
    background: #fff02a!important;    
}

.areaBannerB {
    display: none;
}

.item img {
    min-width: 100%;
}

.areaBanners  img {
    width: 100%;
}

.areaBannerCategory {
    height: 19%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #fff02a;
}



.roteTab {
    text-align: center; 
    margin-top: -20px;
    height: 80px; 
    line-height: 80px; 
}

.prd_AreaInfo {
    margin-top: 20px;
    margin-left: 10px;
    padding: 0px 5px;
}

.prd_AreaInfo h4 {
    font-family: OswaldBold;
    font-size: 12pt; 
    margin-bottom: 5px;
} 
 
.prd_AreaInfo h5 {
    font-family: OswaldRegular;
    font-size: 12pt;
    color: #999999;
    text-decoration: line-through;
    margin-bottom: 5px;
}



.product .product-payment,
.product .product-payment span, .product .product-payment strong {
    color: #999;
}

.prd_AreaInfo h6 {
    font-family: OswaldRegular;
    font-size: 12pt;
    color: #999999;
    margin-bottom: 5px;
    margin-top: 10px;
}

.prd_loading {
        background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 800px;
    display: block;
    z-index: 999;
    text-align: center;
}

.prd_loading span {
    font-size: 18pt;
    line-height: 300px;
    font-family: OswaldBold;
    color: #c2c2c2;
}

.notDisplay {
    display: none;
}