/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/03/2017, 10:24:35
    Author     : MarceloMacedo
*/

.rdp_Faixa {
    height: 80px;
}

#NavLogoTray {
    display: none;
}

.rdp_Area {
    background-color: #070003; 
    margin-bottom: -12px;
}

.rdp_Conteudo {
    padding: 20px 0px;
    height: 60px;
}


.rdp_ConteudoTexto, .rdp_ConteudoPrimary h4, .rdp_ConteudoPrimary h5,
.rdp_ConteudoTexto h5, .rdp_ConteudoTexto h6, .rdp_ConteudoTextoB h6 {
    color: #fff;
}

.rdp_ConteudoTexto h5 {
    line-height: 25px;
    font-size: 10pt;
    font-weight: 100;
}

.rdp_ConteudoTexto h6 {
    line-height: 12px;
    font-size: 8pt;
    font-weight: 100;
}

.rdp_ConteudoTextoB {
    color: #fff;
    margin-left: 10px;
    font-family: OxygenLight;
    text-align: right;
    margin-top: 10px;
}

.rdp_ConteudoTextoB h5 {
    line-height: 5px;
    font-size: 10pt;
    font-weight: 100;
}



.rdp_Container {
    width: 90%;
    margin: auto;
}

.rdp_ConteudoPrimary {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.rdp_ConteudoPrimary {
    font-family: OxygenLight;
    color: #fff;
}





.rdp_ConteudoPrimary img {
    padding: 5px;
}




@media (max-width: 786px){
    .rdp_Area {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .rdp_ConteudoPrimary h4 {
        font-size: 22pt;
        font-family: OswaldBold;
        letter-spacing: -2px;
        line-height: 30px;
    }

    .rdp_ConteudoPrimary {
        text-align: center;
    }

    .rdp_AreaRedes {
        margin-top: 30px;
    }

    .rdp_AreaImagens {
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .rdp_ConteudoPrimary img {
        padding: 10px;
    }

    .rdp_Conteudo {
        height: 100px;
    }

    .rdp_ConteudoPrimary span {
        font-size: 14pt;
        line-height: 20px;
        font-family: OswaldBold;
    }

    .rdp_ConteudoPrimary h5 {
        font-size: 9pt;
        line-height: 20px;
        margin-top:2px;
    }

    .rdp_AreaLinksSection {
        margin-bottom: 40px;
    }
}

@media (max-width: 1400px)
{
    .rdp_AreaImagens {
        max-width: 80%;
    }
    .rdp_ConteudoTexto {
        float: left;
        color: #fff;
        margin-left: 10px;
        font-family: OxygenLight;
    }

    .rdp_ConteudoPrimary span {
        font-size: 10pt;
        line-height: 20px;
        font-family: OswaldBold;
    }

    .rdp_ConteudoPrimary h4 {
        font-size: 22pt;
        font-family: OswaldBold;
        letter-spacing: -2px;
        line-height: 27px;
    }

    .rdp_ConteudoPrimary h5 {
        font-size: 9pt;
        line-height: 20px;
    }

    .rdp_ConteudoTextoB h6 {
        line-height: 13px;
        font-size: 8pt;
        font-weight: 100;
    }

    .rdp_Conteudo img {
        float: left;
        margin-top: 3px;
    }

}

@media (min-width: 1400px)
{
    .rdp_ConteudoPrimary span {
        font-size: 12pt;
        line-height: 24px;
        font-family: OswaldBold;
    }

    .rdp_AreaImagens {
        max-width: 65%;
    }
    .rdp_ConteudoTexto {
        float: left;
        color: #fff;
        margin-left: 20px;
        font-family: OxygenLight;
    }

    .rdp_ConteudoPrimary h4 {
        font-size: 24pt;
        font-family: OswaldBold;
        letter-spacing: -2px;
        line-height: 30px;
    }

    .rdp_ConteudoPrimary h5 {
        font-size: 10pt;
        line-height: 24px;
    }

    .rdp_ConteudoTextoB h6 {
        line-height: 15px;
        font-size: 10pt;
        font-weight: 100;
    }

    .rdp_Conteudo img {
        float: left;
        margin-top: 8px;
    }

}


