#btnOpenSearch {
    display: none;
}

.hdr_Info {
    background-color: #070003;
    color: #a49919;
    height: 30px;
    font-family: ArialNarrow;
    border-bottom: 1px solid #a49919;
}

.hdr_InfoRight {
    text-align: right;
}

.hdr_InfoLeft {
    text-align: left;
}

.hdr_AreaButton input {
    position: absolute;
    top: 52px;
    left: 60px;
    color: #000;
    width: 160px;
    height: 40px;
    padding: 0px 5px;
    border-bottom: 2px solid #a49919;
    border-left: none;
    border-top: none;
    border-right: none;
    background: transparent;
    display: none;
}


::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 1 !important;
    color: #000;
}



@media (max-width: 768px)
{
    
    .areaPesquisa {
        margin-top: 65px;
    }

    .alignCenter {
        text-align: center;
    }

    .borderBottom {
        border-bottom: 3px solid #333300;
    }

    .borderRight {
        border-right: 3px solid #333300;
    }

    .borderLeft {
        border-left: 10px solid #fff02a;
    }

    #imgMoreCategory {
        max-width: 25px;
        margin-top: 30px;
    }

    .underline {
        text-decoration: underline;
    }

    .mnuMob_btnClose {
        color: #fff02a;
        font-size: 24pt;
        margin-top: 23px;
    }

    .mnuMob_AreaItem {
        background: #070003;
        height: 75px;
    }

    .bkg_AreaItem {
        width: 100%;
        padding-left: 15px;
        background-color: #fff02a;
    }

    .mnuMob_AreaItem h5 {
        font-size: 14pt;
        font-family: OswaldRegular;
        color: #fff;
        margin-top: 30px;
        margin-left: 10px;
        text-transform: uppercase;
    }

    .mnuMob_AreaItem img {        
        margin-top: 25px;
    }

    .searchMobileArea {
        position: absolute;
        z-index: 999;
        top: 120px;
        width: 100%;
        height: 200px;
        display: none;
    }

    .menuMobileArea {
        position: absolute;
        z-index: 10;
        top: 120px;
        width: 100%;
        height: 100%;
        display: none;
    }

    .owl-pagination {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .active {
        background: #fff02a!important;
    }

    .owl-theme .owl-controls .owl-page span {
        display: none!important;
    }

    .hdr_AreaImagem {
        text-align: center;
        margin-top: 25px;
    }

    .hdr_mobileMenu {
        background-color: #070003;
        height: 80px;
        width: 100%;
    }

    .hdr_InfoLeft {
        text-align: left;
        padding-right: 0px;
        padding-left: 5px;
    }

    .hdr_InfoRight {
        text-align: right;
        padding-left: 0px;
        padding-right: 5px;
    }

    .hdr_Info span {
        font-size: 7pt;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .hdr_AreaImagemLogo {
        padding: 20px 0px;
        background-color: #070003;
        border-bottom: 1px solid #a49919;
    }

    .hdr_AreaImagemLogo img {
        margin: auto;
        max-width: 260px;
    }

    .owl-theme .owl-controls .owl-page {
        background:rgba(0, 0, 0, 0.5);
        width: 65px;
        margin-left: 10px;
        height: 20px;
    }
}


@media (min-width: 768px)
{
    #imgSearch {
        float: left;
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    .owl-pagination {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .active {
        background: #fff02a!important;
    }

    .owl-theme .owl-controls .owl-page span {
        display: none!important;
    }
    
    #areaMenu {
        position: absolute;
        left: 0px;
        width: 250px;
        padding-bottom: 28px;
        height: 110px;
    }

    #imgSearch {
        margin-top: 30px;
    }

    .hdr_AreaImagem { 
        height: 55px;
    }

    .hdr_AreaImagem img {
        height: 23px;
    }

    .hdr_AreaLogo {
        background-color: #070003;
        color: #a49919;
        height: 100px;    
    }

    .hdr_AreaButton {
        margin: 6px auto; 
        max-width: 250px;
        text-align: center;
        height: 100%;
        font-family: OswaldBold;
    }

    .hdr_AreaLogo img {
        margin: 23px auto 10px auto;  
    }


    .hdr_AreaLogo img {
        max-width: 250px;
    }

    .hdr_Info span {
        font-size: 8pt;
        line-height: 30px;
    }

    .hdr_AreaButton span {
        color: #fff;
        font-size: 9pt;
        vertical-align: middle;
        font-family: OswaldRegular;
    }

    .AreaBotaoLogin  {
        padding-bottom: 20px;
    }

}

@media (min-width: 992px) and (max-width: 1400px)
{
    .owl-pagination {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .active {
        background: #fff02a!important;
    }

    .owl-theme .owl-controls .owl-page span {
        display: none!important;
    }

    #areaMenu {
        position: absolute;
        left: 0px;
        width: 260px;
        padding-bottom: 28px;
        height: 150px;
    }

    .hdr_AreaLogo {
        background-color: #070003;
        color: #a49919;
        height: 150px;    
    }

    .hdr_AreaButton {
        margin: 20px auto; 
        max-width: 250px;
        text-align: center;
        height: 100%;
        font-family: OswaldBold;
    }

    .hdr_AreaLogo img {
        margin: 40px auto;    
    }

    .hdr_Info span {
        font-size: 10pt;
        line-height: 30px;
    }

    .owl-theme .owl-controls .owl-page {
        background:rgba(0, 0, 0, 0.5); 
        width: 100px;
        margin-left: 20px;
        height: 10px;
    }

    .hdr_AreaButton span {
        margin-left: 10px;
        color: #fff;
        font-size: 10pt;
        vertical-align: middle;
    }

}

@media (min-width: 1400px) {
    
    .owl-pagination {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .active {
        background: #fff02a!important;
    }

    .owl-theme .owl-controls .owl-page span {
        display: none!important;
    }

    .owl-theme .owl-controls .owl-page {
        background:rgba(0, 0, 0, 0.5); 
        width: 100px;
        margin-left: 20px;
        height: 10px;
    }

    #areaMenu {
        position: absolute;
        left: 0px;
        width: 260px;
        padding-bottom: 28px;
        height: 150px;
    }

    .hdr_AreaLogo {
        background-color: #070003;
        color: #a49919;
        height: 150px;    
    }

    .hdr_AreaButton {
        margin: 20px auto; 
        max-width: 250px;
        text-align: center;
        height: 100%;
        font-family: OswaldBold;
    }

    .hdr_AreaLogo img {
        margin: 40px auto;    
    }

    .hdr_Info span {
        font-size: 10pt;
        line-height: 30px;
    }

    .hdr_AreaButton span {
        margin-left: 10px;
        color: #fff;
        font-size: 13pt;
        vertical-align: middle;
    }

}