/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/02/2017, 15:21:34
    Author     : MarceloMacedo
*/

@media (max-width: 768px)
{
    .user_AreaMobile {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 360px;
        background: #252525;
        top: 195px;
        right: 0px;
        left: 0px;
        font-family: OswaldBold;
        display: none;
    }

    .user_header {
        height: 85px;
        padding-top: 10px;
        border-bottom: 1px solid gray;
    }

    .user_body {
        height: 150px;
        padding-top: 10px;
        border-bottom: 1px solid gray;
    }

    .user_body img {
        margin-top: 10px;
    }

    .user_body h5 {
        font-size: 14pt;
        color: #fff;
        font-family: OswaldRegular;
        margin-top: 15px;
    }

    .user_body h4 {
        font-size: 16pt;
        color: #fff;
        font-family: OswaldRegular;
        margin-top: 15px;
    }

    .flyMenu span {
        padding-top: 15px;
        line-height: 80px;    
        font-size: 10pt;   
    }

    .user_Body {
        margin: 20px;
    }

    .user_AreaInput button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: #fff02a;
        color: #070003;
        border: none;
        font-size: 11pt;  
    }

    .checkbox label {
        color: #fff;        
        font-size: 10pt;
        line-height: 20px;
    }

    .flyMenu {
        height: 15px;
        width: 100%;
        text-align: center;    
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    .flyMenu {
        height: 10px;
        width: 100%;
        text-align: center;    
    }

    .user_Area {
        position: absolute;
        z-index: 999;
        width: 100%;
        min-width: 370px;
        height: 360px;
        background: #252525;
        top: 100px;
        right: -400px;
        font-family: OswaldBold;
        display: none;
    }

    .user_header {
        height: 80px;
    }

    .flyMenu span {
        padding-top: 15px;
        line-height: 80px;    
        font-size: 10pt;   
    }

    .user_Body {
        margin: 20px;
    }

    .user_AreaInput button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: #fff02a;
        color: #070003;
        border: none;
        font-size: 11pt;  
    }

    .checkbox label {
        color: #fff;        
        font-size: 10pt;
        line-height: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1400px)
{
    .usr_Logado {
        margin-left: -100px;
    }
    .flyMenu {
        height: 10px;
        width: 100%; 
        text-align: center;    
    }

    .user_Area {
        position: absolute;
        z-index: 999;
        width: 100%;
        min-width: 420px;
        height: 420px;
        background: #252525;
        top: 150px;
        right: -400px;
        font-family: OswaldBold;
        display: none;
    }

    .user_header {
        height: 100px;
    }

    .flyMenu span {
        padding-top: 15px;
        line-height: 100px;
        font-size: 11pt;    
    }


    .user_AreaInput button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: #fff02a;
        color: #070003;
        border: none;
        font-size: 11pt;  
    }

    .checkbox label {
        color: #fff;        
        font-size: 10pt;
        line-height: 20px;
    }

    
}

@media (min-width: 1400px) {

    .user_header .user_Content {
        width: 100%;
        text-align: center;
        padding: 40px 20px;
        border-bottom: 1px solid lightgray;
    }
    
    .usr_Logado {
        margin-left: -150px;
    }

    .flyMenu {
        height: 10px;
        width: 100%;
        text-align: center;    
    }

    .user_Area {
        position: absolute;
        z-index: 999;
        width: 100%;
        min-width: 300px;
        height: 476px;
        background: #252525;
        top: 150px;
        right: -400px;
        font-family: OswaldBold;
        display: none;
    }

    .user_header {
        height: 100px;
    }

    .flyMenu span {
        padding-top: 15px;
        line-height: 100px;
        font-size: 11pt;    
    }
    
    .user_AreaInput button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: #fff02a;
        color: #070003;
        border: none;
        font-size: 11pt;  
    }

    .checkbox label {
        color: #fff;        
        font-size: 10pt;
        line-height: 20px;
    }
}




.user_header a {
    color: #fff;
}






.Selected {
    background-color: #fff02a;
    
}

.Selected span {
    color: #fff;
}

.UnSelected span {
    color: #5c5c5c;
}

.UnSelected {
    background-color: #5c5c5c;
}

.user_AreaInput {
    max-width: 380px;
    margin: 5px auto;
}

.user_AreaInput input[type="email"],
.user_AreaInput input[type="text"],
.user_AreaInput input[type="password"] {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 0px;
}



.user_AreaInput .buttonFb { 
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background-color: #3b5b95;
    color: #fff;
    border: none;
}

.user_AreaInput span {
    line-height: 40px;   
}

.user_AreaInput a {
    text-decoration: underline;
    color: #fff02a;  
    font-family: OxygenRegular;
    font-size: 10pt;
}




/*
@media (max-width: 1400px) {
    .flyMenu span {
        padding-top: 15px;
        line-height: 100px;
        font-size: 10pt;    
    }

    .user_AreaInput button {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: #fff02a;
        color: #070003;
        border: none;
    }

    .checkbox label {
        color: #fff;
    }
}*/